﻿@using System.Collections.Concurrent
@model IEnumerable<FoxConcept.Models.ViewModels.Optimization.OptimizationGoal>
<table>
    <thead>
        <tr>
            <th width="2%">Consider</th>
            <th width="34%">Goal Name</th>
            <th width="66%">Importance</th>
        </tr>
    </thead>
    <tbody>
        @{var i = 0;}
        @foreach (var type in Model)
        {
            var isChecked = i != 0 ? null : "checked";
            <tr>
                <td>
                    <input data-val="true"  id="Goals_@{@i;}__.Selected" name="Goals[@i].Selected" type="checkbox" value="true"  @isChecked >
                    <input id="Goals_@{@i;}__.GoalTypeID" name="Goals[@i].GoalTypeID" type="hidden" value="@type.GoalTypeID" />
                    <input id="Goals_@{@i;}__.GoalTypeDescription" name="Goals[@i].GoalTypeDescription" type="hidden" value="@type.GoalTypeDescription" />
                </td>
                <td>@type.GoalTypeDescription</td>
                <td data-get="silder">
                    @if (type.Operators.Count() > 1)
                    {
                        <div style="margin-right: 10px; display: inline-block;"><span>Low</span></div>
                        <div class="slider" data-value="@type.Value" date-get="silderelement" id="slider-@type.GoalTypeID" style="width:50%;display: inline-table;"></div>
                        <div style="margin-left: 10px; margin-right: 10px; display: inline-block;"><span>High</span></div>
                        <div id="slider-result-@type.GoalTypeID" class="sliderresult" style="display: inline-table;"></div>
                        <input type="hidden" name="Goals[@i].Value" id="Goals_@{@i;}__.Value" value="@type.Value"/>
                    }
                    else
                    {
                        @type.Operators.ElementAt(0).Text;
                    }
                    @{ var j = 0;}
                    @foreach (var op in type.Operators)
                    {
                        <input type="hidden" name="Goals[@i].Operators[@j].Selected"/>
                        <input type="hidden" name="Goals[@i].Operators[@j].Text"/>
                        <input type="hidden" name="Goals[@i].Operators[@j].Value"/>
                        j++;
                    }

                    <span id="LimitInputBox-@type.GoalTypeID" class="hidden">
                        <input type="text" class="tiny" />%</span>
                </td>
                @*<td align="">
				<input class="tiny" type="text" id="PriorityInputBox-@type.GoalTypeID" />
			</td>*@

            </tr>
                    i++;
        }
    </tbody>
</table>

<script src="~/Scripts/JRange/jquery.range.js"></script>
<script>
    $("td[data-get='silder']").each(function (index, val) {
        var valu = $(val).find(".slider").attr("data-value");
        $(val).find(".slider").slider({
            range: "min",
            value: valu,
            min: 1,
            max: 100,
            //this gets a live reading of the value and prints it on the page
            slide: function (event, ui) {
                $(val).find(".sliderresult").text();
                $(val).find("input").val(ui.value);
            }
        });

    });

</script>

