﻿@model FoxConcept.Models.ViewModels.Recovery.RecoveryResultsViewModel
@{
    ViewBag.Title = "Step 3 - Confirmation";
    Layout = "~/Views/Shared/_FoxFormLayout.cshtml";
}

@section scripts
{


    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/FormAjax.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/chosen/chosen.jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/chosen/Chosen-Methods.js")" type="text/javascript"></script>
}

@section FormHeader
{
    <span>@ViewBag.Title</span>
    @*<link href="/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
    <link href="/Content/dropit.css" rel="stylesheet" type="text/css" />
    <link href="/Scripts/chosen/chosen.css" rel="stylesheet" type="text/css" />
    <link href="/Content/datepicker3.css" rel="stylesheet" type="text/css" />
}


@section FormFooter
{
    <a href="http://zorro.britannica-ks.com/Resources/CourseResourceGantt/CourseResourceGanttFrameset.aspx?DisplayInactive=0&DisplaySecondary=0&RepositoryID=7907" id="FormSubmit">Confirm</a>
    <a href="javascript:history.back()">
        Back</a>
    @*<a href="#"  onclick="document.forms[0].submit()">Save</a>*@
}
@*<fieldset>
    <legend>Recovery Settings Summary</legend>
</fieldset>*@

<fieldset>
    <legend>Proposed Schedule</legend>
    <table>
        <thead>
            <tr>
                <th>Organizationl Unit</th>
                <th>Training Program</th>
                <th>Event Name</th>
                <th>Event Original Time</th>
                <th>Event New Time</th>
                <th>Resource Allocations</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model.results)
            {
                <tr>
                    <td>@row.OrganizationlUnit</td>
                    <td>@row.TrainingProgram</td>
                    <td>@row.EventName</td>
                    <td>@row.EventOriginalStartDate.ToString("MM/dd/yyyy") <span class="blue">@row.EventOriginalStartTime - @row.EventOriginalEndTime</span></td>
                    <td>@row.EventNewStartDate.ToString("MM/dd/yyyy") <span class="blue">@row.EventNewStartTime - @row.EventNewEndTime</span></td>
                    <td>@row.PhysicalResource
                        <br />
                        @row.HumanResource
                    </td>
                </tr>
            }
        </tbody>
    </table>
</fieldset>

<script type="text/javascript">
    $(function () {
        $('.datepicker').datepicker({
            format: "dd/mm/yyyy",
            todayBtn: true,
            clearBtn: true
        });


    });
</script>
