﻿@model FoxConcept.Models.ViewModels.Recovery.RecoverySettingsViewModel
@{
    ViewBag.Title = "Step 2 - Recovery Settings";
    Layout = "~/Views/Shared/_FoxFormLayout.cshtml";
}

@section scripts
{


    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/FormAjax.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/chosen/chosen.jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/chosen/Chosen-Methods.js")" type="text/javascript"></script>
}

@section FormHeader
{
    <span>@ViewBag.Title</span>
    @*<link href="/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
    <link href="/Content/dropit.css" rel="stylesheet" type="text/css" />
    <link href="/Scripts/chosen/chosen.css" rel="stylesheet" type="text/css" />
    <link href="/Content/datepicker3.css" rel="stylesheet" type="text/css" />
}


<fieldset>
    <legend>Target dates</legend>
    <p>Target dates - events for recovery will be rescheduled during this timeframe.</p>
    <div class="span1">Start Date</div>
    <div class="span11">
        @Html.TextBoxFor(m => m.TargetStartDate, new { @class = "medium datepicker", @Value = Model.TargetStartDate.ToString("MM/dd/yyyy") })
        @Html.ValidationMessageFor(m => m.TargetStartDate)
    </div>
    <div class="span1">End Date</div>
    <div class="span11">
        @Html.TextBoxFor(m => m.TargetEndTime, new { @class = "medium datepicker", @Value = Model.TargetEndTime.ToString("MM/dd/yyyy") })
        @Html.ValidationMessageFor(m => m.TargetEndTime)
    </div>
</fieldset>
<div>
    <fieldset>
        <legend>Resource Allocations:</legend>
        <table id="resource-allocation-tbl"> 
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" id="chkHeader" /></th>
                    <th>Resource Type</th>
                    <th>Preferred Resource</th>
                    <th>Matching Status</th>
                    <th>Handling Allocated Resources</th>
                    <th>Alternative Resources</th>
                    <th>Priority</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var resourceType in Model.ResourceAllocations)
                {
                    <tr>
                        <td>
                            <input type="checkbox" id="resource-type-@resourceType.ID"/>
                        </td>
                        <td>@resourceType.ResourceName</td>
                        <td>@Html.DropDownList("PreferredResource", new SelectList(resourceType.PreferedResource, "ID", "Name"))</td>
                        <td>@Html.DropDownList("Maatching Staatus", new SelectList(resourceType.MacthingStatus, "ID", "Name"))</td>
                        <td>@Html.DropDownList("HandlingAllocatedResources", new SelectList(resourceType.HendlingAllocatedResources, "ID", "Name"))</td>
                        <td>@Html.DropDownList("AlternativeResources", new SelectList(resourceType.AlternativeResources, "ID", "Name"))</td>
                        <td>@Html.DropDownList("Priority", new SelectList(resourceType.Priority, "ID", "Name"))</td>
                    </tr>
                }
            </tbody>
        </table>
    </fieldset>
</div>

<div class="form-group">
    <fieldset>
        <legend>Rescheduling of other events</legend>
        <div class="span10">
            <div class="radio-left">

                <input type="radio" class="radio-left" name="group1" checked="true" value="checked">
            </div>
            Do not reschedule other events, currently scheduled <b>in the target timeframe.</b>
        </div>
        <div class="span10">
            <div class="radio-left">
                <input type="radio" class="radio-left" name="group1" value="false">
            </div>
            Reschedule other events, currently scheduled <b>in the target timeframe.</b>
        </div>
        <div class="span10" style="margin-left: 20px;">
            <input type="checkbox" name="group1" value="false">
            Reschedule only other events that do not have participants assigned to them
        </div>
        <div class="span10" style="margin-left: 20px;">
            <input type="checkbox" name="group1" value="false">
            Reschedule only other events that do not have resources assigned to them
        </div>

        
        <div class="span10" style="  margin-top: 20px;">
            <div class="radio-left">

                <input type="radio" class="radio-left" name="group2" checked="true" value="checked">
            </div>
            Do not reschedule other events, currently scheduled <b>after the target timeframe.</b>
        </div>
        <div class="span10">
            <div class="radio-left">
                <input type="radio" class="radio-left" name="group2" value="false">
            </div>
            Reschedule other events, currently scheduled <b>after the target timeframe.</b>
        </div>
        <div class="span10" style="margin-left: 20px;">
            <input type="checkbox" name="group1" value="false">
            Reschedule only other events that do not have participants assigned to them
        </div>
        <div class="span10" style="margin-left: 20px;">
            <input type="checkbox" name="group1" value="false">
            Reschedule only other events that do not have resources assigned to them
        </div>

        
        <div class="span10" style="  margin-top: 20px;">
            <div class="radio-left">
                <input type="radio" class="radio-left" name="group3" checked="true" value="checked">
            </div>
            Maintain current Training Program End Date
        </div>
        <div class="span10">
            <div class="radio-left">
                <input type="radio" class="radio-left" name="group3" value="false">
            </div>
            Allow Training Program End Date to be extended by 
            <input type="text" style="width: 34px;"/>
            days
        </div>
    </fieldset>
</div>

<div class="span10">
    <input type="checkbox" value="false" id="cbAdvanceSettings">
    Show advanced settings
</div>

<div id="advanceSettingsSection" style="display: none;">
    <fieldset>
        <legend>General optimization goals</legend>
        @{Html.RenderPartial("_OptimizationSettingsGoalsList", Model.GetAvailableGoals());}
    </fieldset>

    <fieldset>
        <legend>Scheduling rules</legend>
        <table>
            <thead>
                <tr>
                    <th width="2%">Consider</th>
                    <th width="90%">Description</th>
                </tr>
            </thead>
            <tbody>
                @*                <tr>
                    <td>@Html.CheckBoxFor(m => m.UseEarlyGracePeriod)</td>
                    <td>Use "Early" periods</td>
                </tr>*@
                @*	 <tr>
		<td><input type="checkbox" /></td>
		<td>Use "Grace" periods</td>
	 </tr>*@
                <tr>
                    <td>
                        <input type="checkbox" /></td>
                    <td>
                        <span>Allow gap of</span>&nbsp;&nbsp;<input class="tiny" type="text" />&nbsp;&nbsp;<span>minutes between each event</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="checkbox" checked="checked" /></td>
                    <td>
                        <span>Allow gap of</span>&nbsp;&nbsp;<input class="tiny" type="text" value="5" />&nbsp;&nbsp;<span>days between each training day</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="checkbox" /></td>
                    <td>
                        <span>Allow changes to scheduled events in</span>
                        &nbsp;&nbsp;
		<select class="medium">
            <option>Tentative status</option>
            <option>Pending status</option>
            <option>Approved status</option>
        </select>
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="checkbox" /></td>
                    <td>
                        <span>Keep minimum of</span>&nbsp;&nbsp;<input type="text" class="tiny" />&nbsp;&nbsp; days between
			<select class="medium">
                <option>Simulations</option>
                <option>Flights</option>
                <option>Lessons</option>
            </select>

                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" /></td>
                    <td>
                        <span>Keep </span>&nbsp;&nbsp;<input type="text" class="tiny" />&nbsp;&nbsp; continuous free days 
		&nbsp;&nbsp;<input type="text" class="tiny" />&nbsp;&nbsp; times
		every &nbsp;&nbsp;<input type="text" class="tiny" />&nbsp;&nbsp; days 
                    </td>
                </tr>
                @foreach (var item in Model.SchedulingBusinessRules)
                {
                    <tr>
                        <td>
                            <input type="checkbox" checked="checked" /></td>
                        <td>@item.Title - @item.Description</td>
                    </tr>
                }

            </tbody>
        </table>
    </fieldset>
</div>
@section FormFooter
{
    @Html.ActionLink("Next", "GetRecoveryResults", null, new { id = "FormSubmitDelay" })
    <a href="javascript:history.back()">Back</a>

    <div id="progressSpan" class="Progress" data-success="@Url.Content("~/Content/Succeeded.gif")" style="display: none;">
        <span id="progressText"></span>
        <img id="progressImg" alt="" src="@Url.Content("~/Content/InProcess.gif")">
    </div>
    @*<a href="#"  onclick="document.forms[0].submit()">Save</a>*@
}

<script type="text/javascript">
    //loading delay for next page

    $(function () {
        $('#FormSubmitDelay').click(function (e) {
            e.preventDefault();  
            var link = $(this).attr("href");
            $("#progressSpan").show();
            setTimeout(function () {
                $("#progressImg").attr('src', $("#progressSpan").attr('data-success'));
                window.location.href = link; 
            }, 3500);
        });
    });

        //Selecting All rows in the given page ones the header checkbox has chenged
        $("#chkHeader").change(function () {
            $("#resource-allocation-tbl input:checkbox").prop('checked', $(this).prop('checked'));
        });

    $(function () {
        $('.datepicker').datepicker({
            format: "dd/mm/yyyy",
            todayBtn: true,
            clearBtn: true
        });

        $("#cbAdvanceSettings").change(function () {

            if ($(this).prop('checked')) {
                $("#advanceSettingsSection").show();
            } else {
                $("#advanceSettingsSection").hide();
            }

        });



    });
</script>
