﻿@model FoxConcept.Models.ViewModels.Recovery.EventTableListViewModel
@{
    ViewBag.Title = "Step 1 - Select Events for Recovery";
    Layout = "~/Views/Shared/_FoxFormLayout.cshtml";
}




@section FormHeader
{
    <link href="/Content/dropit.css" rel="stylesheet" type="text/css" />
    <link href="/Scripts/chosen/chosen.css" rel="stylesheet" type="text/css" />
    <span>@ViewBag.Title</span>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/FormAjax.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/chosen/chosen.jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/chosen/Chosen-Methods.js")" type="text/javascript"></script>
}



<div id="SchedulingRulesTable" class="container ">
    <div class="TableHeader">
        @*<span>@ViewBag.Title</span>*@
    </div>
</div>

<div class="FiltersPanel">

    @using (Html.BeginForm("FilterEvents", "Recovery", FormMethod.Post))
    {

        <div class="span10">
            @Html.TextBoxFor(m => m.EventNameSearch, new { @class = "x-large" })
            @Html.ValidationMessageFor(m => m.EventNameSearch)
        </div>
        <div class="span10">
            @Html.LabelFor(m => m.StartDate, new { @class = "span10" })
            @Html.TextBoxFor(m => m.StartDate, new { @class = "x-large datepicker", @Value = Model.StartDate.ToString("MM/dd/yyyy") })
            @Html.ValidationMessageFor(m => m.EndDate)
        </div>

        <div class="span10">
            @Html.LabelFor(m => m.EndDate, new { @class = "span10" })
            @Html.TextBoxFor(m => m.EndDate, new { @class = "x-large datepicker", @Value = Model.EndDate.ToString("MM/dd/yyyy") })
            @Html.ValidationMessageFor(m => m.EndDate)
        </div>

        <div class="span10">
            @Html.LabelFor(m => m.ou_codes, new { @Class = "span10" })
            @Html.DropDownListFor(m => m.ou_codes, new SelectList(Model.Ous, "ID", "Name"), new { @class = "x-large chosen-select", @multiple = "multiple" })
            @Html.ValidationMessageFor(m => m.ou_codes)
        </div>

        <div class="span10">
            @Html.LabelFor(m => m.tps_code, new { @Class = "span10" })
            @Html.DropDownListFor(m => m.tps_code, new SelectList(Model.Tps, "ID", "Name"), new { @class = "x-large chosen-select", @multiple = "multiple" })
            @Html.ValidationMessageFor(m => m.tps_code)
        </div>
        <div class="span10">
            @Html.LabelFor(m => m.act_code, new { @Class = "span10" })
            @Html.DropDownListFor(m => m.act_code, new SelectList(Model.ActivityTypes, "ID", "Name"), new { @class = "x-large chosen-select", @multiple = "multiple" })
            @Html.ValidationMessageFor(m => m.act_code)
        </div>

        <div class="span10">
            @Html.LabelFor(m => m.hr_code, new { @Class = "span10" })
            @Html.DropDownListFor(m => m.hr_code, new SelectList(Model.HumanResouceTypes, "ID", "Name"), new { @class = "x-large chosen-select", @multiple = "multiple" })
            @Html.ValidationMessageFor(m => m.hr_code)
        </div>

        <div class="span10">
            @Html.LabelFor(m => m.phy_code, new { @Class = "span10" })
            @Html.DropDownListFor(m => m.phy_code, new SelectList(Model.PhysicalResourceTypes, "ID", "Name"), new { @class = "x-large chosen-select", @multiple = "multiple" })
            @Html.ValidationMessageFor(m => m.phy_code)
        </div>

        <div class="span10">
            <input type="submit" class="Button pull-right" style="width: 60px; margin-right: 34px;" value="Search" />
        </div>
    }


</div>
<div class="ContentPanel container scrollable height90">
    @using (Html.BeginForm("RecoverySettings", "Recovery", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.StartDate)
        @Html.HiddenFor(m => m.EndDate)

        <table id="eventsTable">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" id="chkHeader" /></th>
                    <th>Organizational Unit</th>
                    <th>Training Program</th>
                    <th>Event Name</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Duration</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                
                @for(var i = 0; i < Model.events.Count(); i++)
                {
                    <tr>
                        <td>
                            @Html.HiddenFor(m => m.events[@i].ID)
                            @Html.CheckBoxFor(m => m.events[i].Checked)
                        </td>
@*                        <td>&nbsp;
                        <ul class="menu dropit">
                            <li>
                                <a href="#">
                                    <img src='/Content/Images/edit.gif' alt='Edit' /></a>
                                <ul class="dropit-submenu-left">
                                </ul>
                            </li>
                        </ul>
                        </td>*@
                        <td>@Model.events[i].OUName</td>
                        <td>@Model.events[i].TrainingProgramName</td>
                        <td>@Model.events[i].Name</td>
                        <td>@Model.events[i].StartTime.ToString("MM/dd/yyyy hh:mm")</td>
                        <td>@Model.events[i].EndTime.ToString("MM/dd/yyyy hh:mm")</td>
                        <td>@(Model.events[i].Duration / 60)H @( Model.events[i].Duration % 60)M </td>
                        <td>@Model.events[i].EventTypeName</td>
                    </tr>
                }
            </tbody>
        </table>
         <div id="multipleactions" class="yellowBar" style="  bottom: 50px; !important">
            <input type="submit" value="Next" class="regularLink" />
        </div>
    }
</div>

@section FormFooter
{
}


<script type="text/javascript">
    $(function () {
        $('.datepicker').datepicker({
            format: "dd/mm/yyyy",
            todayBtn: true,
            clearBtn: true
        });


        //Selecting All rows in the given page ones the header checkbox has chenged
        $("#chkHeader").change(function () {
            $("#eventsTable input:checkbox").prop('checked', $(this).prop('checked'));
        });

        //Dealing with checkbox change
        $("#eventsTable input:checkbox").change(function () {
            var sChecked = "";

            var list = $("#eventsTable input:checked").length;
            if (list > 0) {
                /*$("#multipleactions").show();*/
                $("#multipleactions").css('visibility', 'visible');
            } else {
                /*$("#multipleactions").hide();*/
                $("#multipleactions").css('visibility', 'hidden');
            }


            $("#eventsTable input:checked").each(function (index) {
                sChecked += $(this).attr("id").substring($(this).attr("id").indexOf("-") + 1);
                if (index !== list - 1) {
                    sChecked += ",";
                }


            });

            //$("#ordersTable input:checked").parent().parent().addClass("warning");
            //$("#ordersTable input:checkbox:not(:checked)").parent().parent().removeClass("warning");
            $("#eventsTable").val(sChecked);
        });


    });
</script>

<style type="text/css">
    .x-large {
        width:90% !important;
    }
    
</style>