﻿@model FoxConcept.Models.CertificationStatusViewModel

@{
	Layout = "~/Views/Shared/_FoxPageLayout.cshtml";
	ViewBag.Title = "Certification Status";
}


@helper getDueMonth(dynamic item)
	{
	var userCertificationItem = item.Value as FoxConcept.Models.DALModels.DWH_User_Certification;
	var expirationDate = userCertificationItem.User_Certification_Final_Expiration_Date;
	var dueMonth = expirationDate.HasValue ? expirationDate.Value.ToString("MM/yyy") : "";
	@Html.Raw(dueMonth);
}

@helper getCertificationStatusIcon(dynamic item)
	{
	var userCertificationItem = item.Value as FoxConcept.Models.DALModels.DWH_User_Certification;
	var certStatus = userCertificationItem.User_Certification_Status;
	var imageURL = string.Format("/Content/Images/CertificationStatuses/status{0}.png", certStatus);

	var certificationStatusStrings = new string[]{
		"None", 
		"Not acquired", 
		"Pending approval", 
		"Valid", 
		"Valid, validity has been extended due to equivalent certification",
		"Valid, validity has been shortened due to conditional certification", 
		"Expired", "Expired, due to conditional certification",
		"Revoked", 
		"In Registration",
		"Waiting for course",
		"Executing Course",
		"Not acquired",
		"Declined",
    };
	
	<img src="@imageURL" alt="@certificationStatusStrings[certStatus.Value]" title="@certificationStatusStrings[certStatus.Value]"/>
}

@helper getUserCertificationCheckbox(dynamic item)
{
	var userCertificationItem = item.Value as FoxConcept.Models.DALModels.DWH_User_Certification;
	<input class="UserCertCheckBox" 
			name="UserCertifications" 
			type="checkbox" 
			data-UserID="@item.User_ID"
			data-CertificationID="@item.Certification_ID" 
			value="@Json.Encode(userCertificationItem)" />
}

@helper getUserCertificationDataTable()
	{
		var dataSource = Model.UserCertificationData;
		WebGrid UserCertificationData = new WebGrid(source: dataSource, canPage: false);

		var tbl = UserCertificationData.GetHtml(tableStyle: "fixed-header", columns: UserCertificationData.Columns(
		UserCertificationData.Column(header: "{CheckBoxHeading}", style: "CheckboxColumn", format: @<text>@getUserCertificationCheckbox(item)</text>),
		UserCertificationData.Column(columnName: "User_Organizational_Unit_Name", header: "Organizational Unit", style: "User_Organizational_Unit_Name"),
		UserCertificationData.Column(columnName: "User_Name", header: "User Name", style: "User_Name"),
		UserCertificationData.Column(columnName: "Certification_Name", header: "Certification Name", style: "Certification_Name"),
		UserCertificationData.Column(columnName: "User_Certification_Status", header: "Status", style: "User_Certification_Status", format: @<text>@getCertificationStatusIcon(item)</text>),
		UserCertificationData.Column(columnName: "User_Certification_Final_Expiration_Date", header: "Due Month", style: "Due_Month", format: @<text>@getDueMonth(item)</text>)
		)).ToString().Replace("{CheckBoxHeading}", "<input type='checkbox' id='selectAllCheckBox' class='UserCertCheckBox'/>");
	
	@Html.Raw(tbl.ToString());
}


<div id="UserCertificationDataTable" class="container stretched-to-margin fixed-header-table-wrapper">
	<div class="TableHeader"><span>Certification Status</span></div>
	
	<div class="inline">
	@using (Html.BeginForm("CertificationStatus", "Certification", FormMethod.Post, null))
	{
	
		<div class="span8">
		<label for="CertificationIDsFilter" class="span2">Certification Name:</label>
		@Html.DropDownListFor(m => m.FilterData.CertificationIDsFilter, new SelectList(Model.AvailableCertifications.OrderBy(c=>c.Cert_Name), "Cert_ID", "Cert_Name"), new { Class = "x-large" })
		</div>
	
		<div class="span8">	
		<label for="ExpirationStartDateFilter" class="span2">Expiration Date From:</label>
		@Html.TextBoxFor(m => m.FilterData.ExpirationStartDateFilter, new { type = "date-picker", Class = "medium"})
		<label for="ExpirationEndDateFilter">To:</label>
		@Html.TextBoxFor(m => m.FilterData.ExpirationEndDateFilter, new { type = "date-picker", Class = "medium"})
		</div>
	 
		<input type="submit" class="small" value="Search" />
	
	}
	</div>

	@using (Html.BeginForm("Settings", "AutomaticScheduling", FormMethod.Post, new {style = "margin-top:90px; margin-bottom:20px;", Class = "stretched-to-margin", id = "CertStatusForm" }))
	{
	<div class="scrollable height90" >
		@getUserCertificationDataTable()
	</div>
	<div class="MultipleActionBar" data-toggler-element="UserCertCheckBox" id="UserCertificationDataTableActionBar">
		<a href="#" onclick="submitForm('ScheduleTraining')">Schedule Training</a>&nbsp;&nbsp;
		<a href="#" onclick="submitForm('AssignParticipants')">Assign to Scheduled Training</a>
	</div>
	 
	<input type="hidden" name="ActionType" id="ActionType" value="ScheduleTraining" />
	 
	}
</div>



@section Footer
{
	<script src="/Scripts/Certification/CertificationStatus.js" type="text/javascript"></script>
	<script type="text/javascript">
		function submitForm(actionType)
		{
			$("#ActionType").val(actionType);
			$("#CertStatusForm").submit();
		}
	</script>
	
}
