﻿@model IEnumerable<FoxConcept.Models.ViewModels.Shared.ResourceType>

<div class="TableHeader">
	<span>Resource Utilization</span>
</div>

<table>
	<thead>
		<tr>
			<th width="2%">Consider</th> 
            <th width="15%">Resource Type</th> 
            <th width="39%">Utilization Limit</th> 
            <th width="46%">Workload Distribution</th>
		</tr>
	</thead>
	<tbody>
	@foreach (var type in Model)
	{
	 <tr >
		<td><input type="checkbox" id="cb_@{@type.TypeID}" checked="checked" /></td>
		<td>@type.TypeName</td>
		<td data-get="silder-util-limit">
			@*<select id="optimization_goal_@{@type.TypeID}" class="medium" invers-toggler="cb_@{@type.TypeID}" onchange="toggleInputVisiblity('@type.TypeID', this)"  >
                <option value="0">Distribute evenly</option>
                <option value="1">Concentrate  workload</option>
                <option value="2">Minimize Cost</option>
                <option value="3">Do not exceed </option>
            </select>*@
            @*<select id="optimization_goal_@{@type.TypeID}" class="medium" invers-toggler="cb_@{@type.TypeID}" onchange="toggleInputVisiblity('@type.TypeID', this)">
                <option value="0"></option>
                <option value="1"></option>
                <option value="2"></option>
                <option value="3"></option>
            </select>*@
			
            @*<span id="LimitInputBox-@type.TypeID"><input type="text" class="tiny" invers-toggler="cb_@{@type.TypeID}" />%</span>*@

            <div style="margin-right: 10px; display: inline-block;"><span>Min</span></div>
            <div class="slider" data-value="50" date-get="silderelement" id="slider-@type.TypeID" style="width:50%;display: inline-table;"></div>
            <div style="margin-left: 10px; margin-right: 10px; display: inline-block;"><span>Max</span></div>
            <div id="slider-result-@type.TypeID" class="sliderresult" style="display: inline-table;">(50 %)</div>
            <input type="hidden" name="Goals[@type.TypeID].Value" id="Goals_@{@type.TypeID;}__.Value" value="@type.TypeID"/>

		</td>
       	<td data-get="silder2">
            <div style="margin-right: 10px; display: inline-block;"><span>Concentrate</span></div>
            <div class="slider2" data-value="5" date-get="silderelement2" id="slider2-@type.TypeID" style="width:50%;display: inline-table;"></div>
            <div style="margin-left: 10px; margin-right: 10px; display: inline-block;"><span>Distribute</span></div>
            <div id="slider2-result-@type.TypeID" class="slider2result" style="display: inline-table;">(5 pt)</div>
            <input type="hidden" name="Goals2[@type.TypeID].Value" id="Goals2_@{@type.TypeID;}__.Value" value="@type.TypeID"/>
		</td> 
	 </tr>
     
	}
	@if (Model.Count()<=0)
	 {
		 <tr><td colspan='4'>No Master Plans were selected</td></tr>
	 }
	</tbody>
	
</table>
<script type="text/javascript" src="../../Scripts/JRange/jquery.range.js"></script>
<script>
    $("td[data-get='silder-util-limit']").each(function (index, val) {
        var valu = $(val).find(".slider").attr("data-value");
        $(val).find(".slider").slider({
            range: "min",
            value: valu,
            min: 1,
            max: 100,
            //this gets a live reading of the value and prints it on the page
            slide: function (event, ui) {
                $(val).find(".sliderresult").text("(" + ui.value + " %)");
                $(val).find("input").val(ui.value);
            }
        });
    });

    $("td[data-get='silder2']").each(function (index, val) {
        var valu = $(val).find(".slider2").attr("data-value");
        $(val).find(".slider2").slider({
            range: "min",
            value: valu,
            min: 0,
            max: 10,
            //this gets a live reading of the value and prints it on the page
            slide: function (event, ui) {
                $(val).find(".slider2result").text("(" + ui.value + " pt)");
                $(val).find("input").val(ui.value);
            }
        });
    });
</script>