﻿@model IEnumerable<FoxConcept.Models.ViewModels.Shared.TrainingRequest>
@{

	var masterPlansRerquired = Model.GroupBy(r => new { r.MasterPlanID, r.MasterPlanName })
		.Select(g=> new {
			MasterPlanID = g.Key.MasterPlanID,
			MasterPlanName = g.Key.MasterPlanName,
			RequiredTrainingCount = g.Count(),
			TimeframeStart = g.Min(r=>r.TrainingRequestStartDateObject),
			TimeframeEnd = g.Max(r => r.TrainingRequestEndDateObject)
		});
	
}	   
<div class="TableHeader">
	<span>Training Requirements</span>
</div>
<table>
	<thead>
		<tr>
			<th width="45%">Master Plan Type</th> <th width="10%">Required Quantity</th><th width="20%">Period Start Date</th><th width="20%">Period End Date</th><th width="5%">Priority</th>
		</tr>
	</thead>
	<tbody>
	@foreach (var item in masterPlansRerquired)
	{
		<tr class="">
            <td style="display:none;" id="trainingRequestMasterPlanID">@item.MasterPlanID</td>
			<td>@item.MasterPlanName</td>
			<td>@item.RequiredTrainingCount</td>
			<td>@item.TimeframeStart.Value.ToString("MM/dd/yyy")</td>
			<td>@item.TimeframeEnd.Value.ToString("MM/dd/yyy")</td>
			<td><input id="TrainingRequests_@{@item.MasterPlanID}__Priorety" name="TrainingRequests[@{@item.MasterPlanID}].Priorety" class="tiny" type="text" /></td>
		</tr> 
	}
	
	 
	</tbody>
</table>
