﻿@model IEnumerable<FoxConcept.Models.ViewModels.Shared.MasterPlan>
<div class="TableHeader">
    <span>Additional Training Requirements</span>
    <button id="btnAddMasterPlan" class="pull-right">Add</button>
</div>
<table>
    <thead>
        <tr>
            <th width="45%">Master Plan Type</th>
            <th width="10%">Required Quantity</th>
            <th width="20%">Period Start Date</th>
            <th width="20%">Period End Date</th>
            <th width="5%">Priority</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var mpselected in Model.Where(m => m.SelectedMasterPlan > 0))
        {
            <tr class="masterPlanInputRow">
                <td>
                    <select id="AdditioanlTrainingRequests_0__.RequiredMasterPlan" name="AdditioanlTrainingRequests[0].RequiredMasterPlan">
                        <option value=""></option>
                        @foreach (var mp in Model)
                        {
                            if (mpselected.MasterPlanID == mp.MasterPlanID)
                            {
                            <option value="@mp.MasterPlanID" selected="selected">@mp.MasterPlanName</option>
                            }
                            else
                            {
                            <option value="@mp.MasterPlanID">@mp.MasterPlanName</option>
                            }

                        }
                    </select>
                </td>
                <td>
                    <input id="AdditioanlTrainingRequests_0__RequiredQuantity" value="@mpselected.RequiredQuatity" name="AdditioanlTrainingRequests[0].RequiredQuantity" class="tiny" type="text" toggler="cb_max_0" />
                    <input id="cb_max_0" name="cb_max[0]" type="checkbox" />
                    <label for="cb_max_0">Max.</label>
                </td>
                <td>
                    <input id="AdditioanlTrainingRequests_0__RequestStartDate" name="AdditioanlTrainingRequests[0].RequestStartDate" class="medium" type="date-picker" /></td>
                <td>
                    <input id="AdditioanlTrainingRequests_0__RequestEndDate" name="AdditioanlTrainingRequests[0].RequestEndDate" class="medium" type="date-picker" /></td>
                <td>
                    <input id="AdditioanlTrainingRequests_0__Priorety" name="AdditioanlTrainingRequests[0].Priorety" class="tiny" type="text" /></td>
            </tr>
        }
        <tr class="masterPlanInputRow">
            <td>
                <select id="AdditioanlTrainingRequests_0__.RequiredMasterPlan" name="AdditioanlTrainingRequests[0].RequiredMasterPlan">
                    <option value=""></option>
                    @foreach (var mp in Model)
                    {
                        <option value="@mp.MasterPlanID">@mp.MasterPlanName</option>	
                    }
                </select>
            </td>
            <td>
                <input id="AdditioanlTrainingRequests_0__RequiredQuantity" name="AdditioanlTrainingRequests[0].RequiredQuantity" class="tiny" type="text" toggler="cb_max_0" />
                <input id="cb_max_0" name="cb_max[0]" type="checkbox" />
                <label for="cb_max_0">Max.</label>
            </td>
            <td>
                <input id="AdditioanlTrainingRequests_0__RequestStartDate" name="AdditioanlTrainingRequests[0].RequestStartDate" class="medium" type="date-picker" /></td>
            <td>
                <input id="AdditioanlTrainingRequests_0__RequestEndDate" name="AdditioanlTrainingRequests[0].RequestEndDate" class="medium" type="date-picker" /></td>
            <td>
                <input id="AdditioanlTrainingRequests_0__Priorety" name="AdditioanlTrainingRequests[0].Priorety" class="tiny" type="text" /></td>
        </tr>
        <tr class="masterPlanInputRow">
            <td>
                <select id="AdditioanlTrainingRequests_1__.RequiredMasterPlan" name="AdditioanlTrainingRequests[1].RequiredMasterPlan">
                    <option value=""></option>
                    @foreach (var mp in Model)
                    {
                        <option value="@mp.MasterPlanID">@mp.MasterPlanName</option>	
                    }
                </select>
            </td>
            <td>
                <input id="AdditioanlTrainingRequests_1__RequiredQuantity" name="AdditioanlTrainingRequests[1].RequiredQuantity" class="tiny" type="text" toggler="cb_max_1" />
                <input id="cb_max_1" name="cb_max[1]" type="checkbox" />
                <label for="cb_max_1">Max.</label>
            </td>
            <td>
                <input id="AdditioanlTrainingRequests_1__RequestStartDate" name="AdditioanlTrainingRequests[1].RequestStartDate" class="medium" type="date-picker" /></td>
            <td>
                <input id="AdditioanlTrainingRequests_1__RequestEndDate" name="AdditioanlTrainingRequests[1].RequestEndDate" class="medium" type="date-picker" /></td>
            <td>
                <input id="AdditioanlTrainingRequests_1__Priorety" name="AdditioanlTrainingRequests[1].Priorety" class="tiny" type="text" /></td>
        </tr>
    </tbody>
</table>
