﻿@model FoxConcept.Models.PlanSummaryTable
<table>
    <thead>
        <tr>
            <th width="2%"></th>
            <th width="50%">Parameter Name</th>
            <th width="30%">Target</th>
            <th width="5%">Priority</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
