﻿@model FoxConcept.Models.ViewModels.Optimization.OptimizationSettingsViewModel
@{
    Layout = "~/Views/Shared/_FoxFormLayout.cshtml";
    ViewBag.Title = "Optimization Settings";
}

@section FormHeader
{
    <span>@ViewBag.Title</span>

}

@using (Html.BeginForm("RunOptimizator", "Optimization", FormMethod.Post, null))
{

@*<div id="masterPlanOptimizationSettings" class="container span10">
<p>
This page allows you to define what training needs to be scheduled and under what constraints. <br />
The optimization settings page includes the following sections:
</p>
<ul>
	<li>Training Requirements - a summarized list of the training requests selected for scheduling. </li>
	<li>Additional Training - ad-hoc requirements for scheduling and throughput analysis.</li>
	<li>Resource Utilization - settings for resource allocation</li>
	<li>Optimization Goals - scheduling target settings</li>
	<li>Scheduling Rules - scheduling constraints and other settings</li>
</ul>
Please update the setting and priority value for each item in the form and press execute to run the optimization engine.
<br />
<br />
</div>*@
	
    if (Model.RelevantRequestIDs != null)
    {
    <div id="TraininrRequirements" class="container radious4 span10">
        <p>
            You have selected <span class="text-info bold">@Model.TrainingRequests.Count()</span> Training Requests to schedule. Schedule date range is computed to:
	<span class="text-info bold">@Model.TrainingRequests.Min(tr => tr.TrainingRequestStartDateObject).Value.ToString("MM/dd/yyy")</span> - 
	<span class="text-info bold">@Model.TrainingRequests.Max(tr => tr.TrainingRequestEndDateObject).Value.ToString("MM/dd/yyy")</span>
        </p>
        @{Html.RenderPartial("_OptimizationSettingsTrainingRequestList", Model.TrainingRequests);}
    </div>
    }


    <div id="AdditionalTraininrRequirements" class="container radious4 span10">
        @{Html.RenderPartial("_OptimizationSettingsMasterPlansList", Model.RelevantMasterPlans);}
    </div>


    <div id="resourceTypeOptimizationSettings" class="container radious4 span10">

        @{
          if (Model.TrainingRequests != null)
          {
              Html.RenderAction("OptimizationSettingsRelevantResources", "Optimization", new {RelevantMasterPlanIDs = Model.TrainingRequests.Select(tr => tr.MasterPlanID)});
          }
          else if (Model.RelevantMasterPlans.Where(m => m.SelectedMasterPlan > 0).Count() > 0)
          {

              Html.RenderAction("OptimizationSettingsRelevantResourcesList", "Optimization", new { RelevantMasterPlanIDs = Model.RelevantMasterPlans.Where(m => m.SelectedMasterPlan > 0).Select(m => m.MasterPlanID) });
          }
          else
          {
              Html.RenderAction("OptimizationSettingsRelevantResources", "Optimization", null);
          }
        }
    </div>
    <div class="container radious4 span10">
    <input id="advanceSettingsChk" type="checkbox" /> <span> Show advanced settings</span>
    </div>
    <div id="advanceSettings" style="display:none;">
    <div class="container span10">
        <div class="TableHeader">
            <span>General Optimization Goals</span>
        </div>
        @{Html.RenderPartial("_OptimizationSettingsGoalsList", Model.GetAvailableGoals());}
    </div>

    <div class="container span10">
        <div class="TableHeader">
            <span>Scheduling Rules</span>
        </div>
        <table>
            <thead>
                <tr>
                    <th width="2%">Consider</th>
                    <th width="90%">Description</th>
                </tr>
            </thead>
            <tbody>
                @*                <tr>
                    <td>@Html.CheckBoxFor(m => m.UseEarlyGracePeriod)</td>
                    <td>Use "Early" periods</td>
                </tr>*@
                @*	 <tr>
		<td><input type="checkbox" /></td>
		<td>Use "Grace" periods</td>
	 </tr>*@
                <tr>
                    <td>
                        <input type="checkbox" /></td>
                    <td>
                        <span>Allow gap of</span>&nbsp;&nbsp;<input class="tiny" type="text" />&nbsp;&nbsp;<span>minutes between each event</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="checkbox" checked="checked" /></td>
                    <td>
                        <span>Allow gap of</span>&nbsp;&nbsp;<input class="tiny" type="text" value="5" />&nbsp;&nbsp;<span>days between each training day</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="checkbox" /></td>
                    <td>
                        <span>Allow changes to scheduled events in</span>
                        &nbsp;&nbsp;
		<select class="medium">
            <option>Tentative status</option>
            <option>Pending status</option>
            <option>Approved status</option>
        </select>
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="checkbox" /></td>
                    <td>
                        <span>Keep minimum of</span>&nbsp;&nbsp;<input type="text" class="tiny" />&nbsp;&nbsp; days between
			<select class="medium">
                <option>Simulations</option>
                <option>Flights</option>
                <option>Lessons</option>
            </select>

                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" /></td>
                    <td>
                        <span>Keep </span>&nbsp;&nbsp;<input type="text" class="tiny" />&nbsp;&nbsp; continuous free days 
		&nbsp;&nbsp;<input type="text" class="tiny" />&nbsp;&nbsp; times
		every &nbsp;&nbsp;<input type="text" class="tiny" />&nbsp;&nbsp; days 
                    </td>
                </tr>
                @foreach (var item in Model.SchedulingBusinessRules)
                {
                    <tr>
                        <td>
                            <input type="checkbox" checked="checked" /></td>
                        <td>@item.Title - @item.Description</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    </div>
                if (Model.RelevantRequestIDs != null)
                {
                    var length = Model.RelevantRequestIDs.Count();
                    for (int i = 0; i < length; i++)
                    {
    @Html.HiddenFor(m => m.RelevantRequestIDs[i])
                    }
                }

	
    @Html.HiddenFor(m => m.OptimizationStartDate);
    @Html.HiddenFor(m => m.OptimizationEndDate);
}

@section FormFooter
{
    <script src="/Scripts/OptimizationSettings/OptimizationSettings.js" type="text/javascript"></script>
    <a href="javascript:window.close()">
        <img alt="Close" src="/Content/Images/FoxClose.gif" />
        Close</a>
    <a type="submit" href="javascript:document.forms[0].submit();">Execute</a>
@*    <a href="#">
        <img alt="Close" src="/Content/Images/ic_toolbar_open.gif" />
        Advance Settings</a>*@
    <a href="#">
        <img alt="Close" src="/Content/Images/ic_toolbar_save.gif" />
        Save Preset</a>
    <select id="presetSelection" onchange="getvalue()">
        <option value="option0">Select Preset</option>
        <option value="option1">Monthly Standard</option>
        <option value="option2">Special Request</option>
        <option value="option3">Option 3</option>
        <option value="option4">Option 4</option>
        <option value="option5">Option 5</option>
    </select>
}
 <script type="text/javascript">
     var check;
     $("#advanceSettingsChk").on("click", function () {
         check = $("#advanceSettingsChk").is(":checked");
         if (check) {
             $("#advanceSettings").show();
         } else {
             $("#advanceSettings").hide();
         }
     });  
 
 </script>


 <style type="text/css">
     #presetSelection
     {
        width: 130px;
        float: right;
        height: 24px;
     }
 </style>