﻿@model IEnumerable<string>

@{
    ViewBag.Title = "Select Plans to Compare";
    Layout = "~/Views/Shared/_FoxFormLayout.cshtml";
}

@section FormHeader
{
	<span>@ViewBag.Title</span>
}

<div>
    <br/>
    <b>&nbsp;Select 2 plans to compare:</b>
    <br/>
    <table>
        <tr>
            <th style="width:1%;">&nbsp;</th>
            <th>Plan Creation Date</th>
        </tr>
        @foreach (var plan in Model.OrderByDescending(s=>s))
        {
	        var label = System.Text.RegularExpressions.Regex.Match(plan,@"\d+-\d+\-\d+T\d+\-\d+\-\d+");
	        <tr>
	        <td><input class="planCheckbox" id="@plan" name="@plan" type="checkbox" value="@plan" /></td>
	        <td><label for="@plan">@label</label></td>
	        </tr>
        }
    </table>
</div>

@section FormFooter
{
	
	<a id="btnCompare" href="#">Compare</a>
    <a href="javascript:history.back()">Back</a>
	<script type="text/javascript">
		$(function ()
		{
			$("#btnCompare").click(function ()
			{
				var selectedFiles = new Array();
				$(".planCheckbox:checked").each(function (i, obj)
				{
					selectedFiles.push($(obj).val());
				});

				var qs = selectedFiles.join("&InputFilePaths=");
				var url = "/Optimization/CompareOptimizedPlan?InputFilePaths=" + qs;
				window.open(url);
			});

			$("input[type=checkbox]").change(function ()
			{

				var numOfSelectedFiles = $(".planCheckbox:checked").length;
				if (numOfSelectedFiles >= 2)
				{
					$("input[type=checkbox]:not(:checked)").attr("disabled", true);
				}
				else
				{
					$("input[type=checkbox]").removeAttr("disabled");
				};
			});
			
		});
	</script>
}
