﻿@using FoxConcept.Controllers
@using FoxConcept.Models.ViewModels.Optimization
@using FoxConcept.Models.ViewModels.Shared
@model FoxConcept.Models.ShowPlanViewModel
@{
	ViewBag.Title = "Show Plan";
	Layout = "~/Views/Shared/_FoxFormLayout.cshtml";
}
@section FormHeader{ <span>@ViewBag.Title</span> }

@helper getRequestDetails(dynamic item, string position)
{
	string requestDetails = "";
	TrainingProgram tp = item as TrainingProgram;
	var request = tp.AnsweredRequests.FirstOrDefault(r => r.RequestedPositionName == position);
	requestDetails = (request != null)? string.Format ("{0} <span class='text-muted'>({1} - {2})</span>",request.RequestedForUserName, request.TrainingRequestID, position):"-"; 
	@Html.Raw(requestDetails)
}

@helper getRequestedTrainingTable(int i_NumberOfParticipants)
	{
	var dataSource = Model.TrainingPrograms
		.Where(tp => tp.isScheduled).Where(tp => tp.AnsweredRequests.Count() == i_NumberOfParticipants)
		.Where(tp => tp.isScheduled && tp.OriginalRequestID < OptimizationController.ADDIRIOAN_REQUEST_START_ID)	
		.OrderBy(tp => tp.AnsweredRequests.Count());
	WebGrid reqTrainingGrid = new WebGrid(source: dataSource, canPage: false);
	var CheckboxDisabled = i_NumberOfParticipants == 1 ? null : "disabled";
	var tbl = reqTrainingGrid.GetHtml(
	columns: reqTrainingGrid.Columns(
	reqTrainingGrid.Column(header:"", format: @<span><input class="unpairedCheckbox" type="checkbox" id="@item.OriginalRequestID" @CheckboxDisabled /></span>, style:"checkbox-col"),
	reqTrainingGrid.Column("Trainee I", format: (item) => getRequestDetails(item.Value, "Captain"), style:"Captain-col"),
	reqTrainingGrid.Column("Trainee II", format: (item) => getRequestDetails(item.Value, "First Officer"), style:"FirstOfficer-col"),
	reqTrainingGrid.Column("MasterPlanName", "Master Plan Name", style: "MasterPlanName-col"),
	reqTrainingGrid.Column("MasterPlanCost", "Master Plan Cost", style: "MasterPlanCost-col", format: @<span currency="en-US">@item.MasterPlanCost</span>),
	reqTrainingGrid.Column("MasterPlanRevenue", "Master Plan Revenue", style: "MasterPlanRevenue-col", format: @<span currency="en-US">@item.MasterPlanRevenue </span>),
	reqTrainingGrid.Column("StartDate", "Start Date", style: "StartDate-col", format: @<text>@item.Value.StartDate.ToString("MM/dd/yyy HH:mm")</text>),
	reqTrainingGrid.Column("EndDate", "End Date", style: "EndDate-col", format: @<text>@item.Value.EndDate.ToString("MM/dd/yyy HH:mm")</text>)
	));
	
	@Html.Raw(tbl.ToString());
}


@helper getGeneralTrainingTable()
	{
		var dataSource = Model.TrainingPrograms.Where(tp => tp.isScheduled && tp.OriginalRequestID >= OptimizationController.ADDIRIOAN_REQUEST_START_ID).OrderBy(tp => tp.AnsweredRequests.Count());
	WebGrid reqTrainingGrid = new WebGrid(source: dataSource, canPage: false);
	
	var tbl = reqTrainingGrid.GetHtml(
	columns: reqTrainingGrid.Columns(
	reqTrainingGrid.Column("OriginalRequestID", "Request", style: "OriginalRequestID", format: @<text></text>),
	reqTrainingGrid.Column("MasterPlanName", "Master Plan Name", style: "MasterPlanName"),
	reqTrainingGrid.Column("MasterPlanCost", "Master Plan Cost", style: "MasterPlanCost"),
	reqTrainingGrid.Column("MasterPlanRevenue", "Master Plan Revenue", style: "MasterPlanRevenue"),
	reqTrainingGrid.Column("StartDate", "Start Date", style: "StartDate", format: @<text>@item.Value.StartDate.ToString("MM/dd/yyy HH:mm")</text>),
	reqTrainingGrid.Column("EndDate", "End Date", style: "EndDate", format: @<text>@item.Value.EndDate.ToString("MM/dd/yyy HH:mm")</text>)
	));
	
	@Html.Raw(tbl.ToString());
}
@*@if (Model.Goals != null)
{
    <fieldset>
        <legend>Optimization Goals</legend>
        <div id="optimizationselection" class="container span10">
            @{ Html.RenderPartial("_OptimizationSettingsGoalsList", Model.Goals); }
        </div>
    </fieldset>
}*@
<div id="masterPlanOptimizationSettings" class="container span10">
<div class="TableHeader"><span>Paired Training Requests</span></div>
@getRequestedTrainingTable(2)
</div>


<div id="masterPlanOptimizationSettings" class="container span10">
<div class="TableHeader"><span>Unpaired Training Requests</span></div>
@getRequestedTrainingTable(1)
<div class="MultipleActionBar" id="unpairedMultipleActionBar">
<a href="#">Merge</a>
<a href="http://zorro.britannica-ks.com/Resources/CourseResourceGantt/CourseResourceGanttFrameset.aspx?DisplayInactive=0&DisplaySecondary=0&RepositoryID=7908" target="_blank">Allocate seat support</a>
</div>

</div>



<div id="masterPlanOptimizationSettings" class="container span10">
<div class="TableHeader"><span>General Training Requirement</span></div>
@getGeneralTrainingTable()
</div>


@section FormFooter
{
	<a href="javascript:window.close()"><img alt="Close" src="/Content/Images/FoxClose.gif" />Close</a>
	<a href="/optimization/ShowOptimizedPlan?DisplayMode=Gantt&InputFilePath=@Model.InputFilePath">Gantt View</a>
	<a href="/optimization/SelectPlansToCompare">Compare Plans</a>

	<style type="text/css">
		.checkbox-col {width:1%;}
		.Captain-col {width:20%;}
		.FirstOfficer-col {width:20%;}
		.MasterPlan-col {width:20%;}
		.StartDate-col {width:10%;}
		.EndDate-col {width:10%;}
		.MasterPlanRevenue-col {width:10%;}
		.MasterPlanCost-col {width:10%;}
		
		.table-container {margin:10px;}
		#timeline, #utilization-timeline {margin: 10px;}
		
	</style>
	<script src="/Scripts/ShowOptimizedPlan/ShowOptimizedPlan.js" type="text/javascript"></script>
	<script src="/Scripts/OptimizationCommon/OptimizationCommon.js" type="text/javascript"></script>

}
