﻿@using HtmlAgilityPack;
@model FoxConcept.Models.PlanSummaryTable

@{
    ViewBag.Title = "ShowPlanSummary";
    Layout = "~/Views/Shared/_FoxFormLayout.cshtml";
}

@section FormHeader
{
    <span>Cost Analysis</span>
}

<fieldset>
    <legend>Cost Anlysis Report</legend>
    <table class="RequiredTraining">
        <thead>
            <tr>
                <th style="min-width: 20px !important">&nbsp;</th>
                <th style="min-width: 400px !important">Item</th>
                <th style="min-width: 80px !important">Units</th>
                <th style="min-width: 125px !important">Qty</th>
                <th style="min-width: 125px !important">Value</th>
                <th style="min-width: 125px !important">Percentage</th>
            </tr>
        </thead>
        <tbody>
            <tr class="mainheader bks-toggle-0" style="background-color: #caced1;">
                <td style="min-width: 20px !important"><img src="@Url.Content("~/Content/Images/bullet_toggle_minus.png")" class="pointer" alt="collapse" /></td>
                <td style="min-width: 400px !important; font-weight: bold; text-decoration: underline;">Training Cost</td>
                <td style="min-width: 80px !important">&nbsp;</td>
                <td style="min-width: 125px !important; font-weight: bold; text-decoration: underline;">@Model.TrainingCosts.Summary.Qty</td>
                <td style="min-width: 125px !important; font-weight: bold; text-decoration: underline;">@Html.DisplayFor(model => model.TrainingCosts.Summary.Value)</td>
                <td style="min-width: 125px !important; font-weight: bold; text-decoration: underline;">@Model.TrainingCosts.Summary.Precentage %</td>
            </tr>
            <tr class="header bks-toggle-1">
                <td>
                    <img src="@Url.Content("~/Content/Images/bullet_toggle_minus.png")" class="pointer" alt="collapse" />
                </td>
                <td>Physical Resources</td>
                <td>&nbsp;</td>
                <td>@Model.TrainingCosts.PhysicalResourcesTrainingCosts.Sumarry.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingCosts.PhysicalResourcesTrainingCosts.Sumarry.Value)</td>
                <td>@Model.TrainingCosts.PhysicalResourcesTrainingCosts.Sumarry.Precentage %</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>Simulators</td>
                <td>Hours</td>
                <td>@Model.TrainingCosts.PhysicalResourcesTrainingCosts.Simulators.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingCosts.PhysicalResourcesTrainingCosts.Simulators.Value)</td>
                <td>@Model.TrainingCosts.PhysicalResourcesTrainingCosts.Simulators.Precentage %</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>Other training devices</td>
                <td>Hours</td>
                <td>@Model.TrainingCosts.PhysicalResourcesTrainingCosts.OtherTrainingDevices.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingCosts.PhysicalResourcesTrainingCosts.OtherTrainingDevices.Value)</td>
                <td>@Model.TrainingCosts.PhysicalResourcesTrainingCosts.OtherTrainingDevices.Precentage %</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>Classrooms</td>
                <td>Hours</td>
                <td>@Model.TrainingCosts.PhysicalResourcesTrainingCosts.Classrooms.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingCosts.PhysicalResourcesTrainingCosts.Classrooms.Value)</td>
                <td>@Model.TrainingCosts.PhysicalResourcesTrainingCosts.Classrooms.Precentage %</td>
            </tr>
            <tr class="header bks-toggle-1 bks-toggle-1-stop">
                <td>
                    <img src="@Url.Content("~/Content/Images/bullet_toggle_minus.png")" class="pointer" alt="collapse" />
                </td>
                <td>Human Resources</td>
                <td>&nbsp;</td>
                <td>@Model.TrainingCosts.HumanResourcesTrainingCosts.Summary.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingCosts.HumanResourcesTrainingCosts.Summary.Value)</td>
                <td>@Model.TrainingCosts.HumanResourcesTrainingCosts.Summary.Precentage %</td>
            </tr>
            <tr class="subheader bks-toggle-2">
                <td>
                    <img src="@Url.Content("~/Content/Images/bullet_toggle_minus.png")" class="pointer" alt="collapse" />
                </td>
                <td>Instructors</td>
                <td>Hours</td>
                <td>@Model.TrainingCosts.HumanResourcesTrainingCosts.Instrucotrs.Summary.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingCosts.HumanResourcesTrainingCosts.Instrucotrs.Summary.Value)</td>
                <td>@Model.TrainingCosts.HumanResourcesTrainingCosts.Instrucotrs.Summary.Precentage %</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>Standard Rate</td>
                <td>Hours</td>
                <td>@Model.TrainingCosts.HumanResourcesTrainingCosts.Instrucotrs.StandardRate.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingCosts.HumanResourcesTrainingCosts.Instrucotrs.StandardRate.Value)</td>
                <td>@Model.TrainingCosts.HumanResourcesTrainingCosts.Instrucotrs.StandardRate.Precentage %</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>Special Rate</td>
                <td>Hours</td>
                <td>@Model.TrainingCosts.HumanResourcesTrainingCosts.Instrucotrs.SpecialRate.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingCosts.HumanResourcesTrainingCosts.Instrucotrs.SpecialRate.Value)</td>
                <td>@Model.TrainingCosts.HumanResourcesTrainingCosts.Instrucotrs.SpecialRate.Precentage %</td>
            </tr>
            <tr class="subheader bks-toggle-2 bks-toggle-2-stop">
                <td>
                    <img src="@Url.Content("~/Content/Images/bullet_toggle_minus.png")" class="pointer" alt="collapse" />
                </td>
                <td>Evaluators</td>
                <td>Hours</td>
                <td>@Model.TrainingCosts.HumanResourcesTrainingCosts.Evaluators.Summary.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingCosts.HumanResourcesTrainingCosts.Evaluators.Summary.Value)</td>
                <td>@Model.TrainingCosts.HumanResourcesTrainingCosts.Evaluators.Summary.Precentage %</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>Standard Rate</td>
                <td>Hours</td>
                <td>@Model.TrainingCosts.HumanResourcesTrainingCosts.Evaluators.StandardRate.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingCosts.HumanResourcesTrainingCosts.Evaluators.StandardRate.Value)</td>
                <td>@Model.TrainingCosts.HumanResourcesTrainingCosts.Evaluators.StandardRate.Precentage %</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>Special Rate</td>
                <td>Hours</td>
                <td>@Model.TrainingCosts.HumanResourcesTrainingCosts.Evaluators.SpecialRate.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingCosts.HumanResourcesTrainingCosts.Evaluators.SpecialRate.Value)</td>
                <td>@Model.TrainingCosts.HumanResourcesTrainingCosts.Evaluators.SpecialRate.Precentage %</td>
            </tr>
            <tr class="header bks-toggle-1 bks-toggle-1-stop bks-toggle-2-stop">
                <td>
                    <img src="@Url.Content("~/Content/Images/bullet_toggle_minus.png")" class="pointer" alt="collapse" />
                </td>
                <td>Trainees</td>
                <td>&nbsp;</td>
                <td>@Model.TrainingCosts.TraineesTrainingCosts.Summary.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingCosts.TraineesTrainingCosts.Summary.Value)</td>
                <td>@Model.TrainingCosts.TraineesTrainingCosts.Summary.Precentage %</td>
            </tr>
            <tr class="subheader bks-toggle-2">
                <td>
                    <img src="@Url.Content("~/Content/Images/bullet_toggle_minus.png")" class="pointer" alt="collapse" />
                </td>
                <td>Pilots</td>
                <td>Hours</td>
                <td>@Model.TrainingCosts.TraineesTrainingCosts.Pilots.Summary.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingCosts.TraineesTrainingCosts.Pilots.Summary.Value)</td>
                <td>@Model.TrainingCosts.TraineesTrainingCosts.Pilots.Summary.Precentage %</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>Standard Rate</td>
                <td>Hours</td>
                <td>@Model.TrainingCosts.TraineesTrainingCosts.Pilots.StandardRate.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingCosts.TraineesTrainingCosts.Pilots.StandardRate.Value)</td>
                <td>@Model.TrainingCosts.TraineesTrainingCosts.Pilots.StandardRate.Precentage %</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>Special Rate</td>
                <td>Hours</td>
                <td>@Model.TrainingCosts.TraineesTrainingCosts.Pilots.SpecialRate.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingCosts.TraineesTrainingCosts.Pilots.SpecialRate.Value)</td>
                <td>@Model.TrainingCosts.TraineesTrainingCosts.Pilots.SpecialRate.Precentage %</td>
            </tr>
            <tr class="mainheader bks-toggle-0 bks-toggle-1-stop bks-toggle-0-stop bks-toggle-2-stop" style="background-color: #caced1;">
                <td>
                    <img src="@Url.Content("~/Content/Images/bullet_toggle_minus.png")" class="pointer" alt="collapse" />
                </td>
                <td style="font-weight: bold; text-decoration: underline;">Travel and Living Costs</td>
                <td>&nbsp;</td>
                <td>@Model.TrainingCosts.TravelAndLivingCosts.Summary.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingCosts.TravelAndLivingCosts.Summary.Value)</td>
                <td>@Model.TrainingCosts.TravelAndLivingCosts.Summary.Precentage %</td>
            </tr>
            <tr class="header bks-toggle-1">
                <td>
                    <img src="@Url.Content("~/Content/Images/bullet_toggle_minus.png")" class="pointer" alt="collapse" />
                </td>
                <td>Flights</td>
                <td>&nbsp;</td>
                <td>@Model.TrainingCosts.Flight.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingCosts.Flight.Value)</td>
                <td>@Model.TrainingCosts.Flight.Precentage %</td>
            </tr>
            <tr class="subheader bks-toggle-2">
                <td>
                    <img src="@Url.Content("~/Content/Images/bullet_toggle_minus.png")" class="pointer" alt="collapse" />
                </td>
                <td>Instructors</td>
                <td>Miles</td>
                <td>@Model.TrainingCosts.TravelAndLivingCosts.Instructors.Summary.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingCosts.TravelAndLivingCosts.Instructors.Summary.Value)</td>
                <td>@Model.TrainingCosts.TravelAndLivingCosts.Instructors.Summary.Precentage %</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>Planned</td>
                <td>Miles</td>
                <td>@Model.TrainingCosts.TravelAndLivingCosts.Instructors.Planned.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingCosts.TravelAndLivingCosts.Instructors.Planned.Value)</td>
                <td>@Model.TrainingCosts.TravelAndLivingCosts.Instructors.Planned.Precentage %</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>Dedicated</td>
                <td>Miles</td>
                <td>@Model.TrainingCosts.TravelAndLivingCosts.Instructors.Dedicated.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingCosts.TravelAndLivingCosts.Instructors.Dedicated.Value)</td>
                <td>@Model.TrainingCosts.TravelAndLivingCosts.Instructors.Dedicated.Precentage %</td>
            </tr>
            <tr class="subheader bks-toggle-2 bks-toggle-2-stop">
                <td>
                    <img src="@Url.Content("~/Content/Images/bullet_toggle_minus.png")" class="pointer" alt="collapse" />
                </td>
                <td>Evaluators</td>
                <td>Miles</td>
                <td>@Model.TrainingCosts.TravelAndLivingCosts.Evaluators.Summary.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingCosts.TravelAndLivingCosts.Evaluators.Summary.Value)</td>
                <td>@Model.TrainingCosts.TravelAndLivingCosts.Evaluators.Summary.Precentage %</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>Planned</td>
                <td>Miles</td>
                <td>@Model.TrainingCosts.TravelAndLivingCosts.Evaluators.Planned.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingCosts.TravelAndLivingCosts.Evaluators.Planned.Value)</td>
                <td>@Model.TrainingCosts.TravelAndLivingCosts.Evaluators.Planned.Precentage %</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>Dedicated</td>
                <td>Miles</td>
                <td>@Model.TrainingCosts.TravelAndLivingCosts.Evaluators.Dedicated.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingCosts.TravelAndLivingCosts.Evaluators.Dedicated.Value)</td>
                <td>@Model.TrainingCosts.TravelAndLivingCosts.Evaluators.Dedicated.Precentage %</td>
            </tr>
            <tr class="subheader bks-toggle-2 bks-toggle-2-stop">
                <td>
                    <img src="@Url.Content("~/Content/Images/bullet_toggle_minus.png")" class="pointer" alt="collapse" />
                </td>
                <td>Pilots</td>
                <td>Miles</td>
                <td>@Model.TrainingCosts.TravelAndLivingCosts.Pilots.Summary.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingCosts.TravelAndLivingCosts.Pilots.Summary.Value)</td>
                <td>@Model.TrainingCosts.TravelAndLivingCosts.Pilots.Summary.Precentage %</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>Planned</td>
                <td>Miles</td>
                <td>@Model.TrainingCosts.TravelAndLivingCosts.Pilots.Planned.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingCosts.TravelAndLivingCosts.Pilots.Planned.Value)</td>
                <td>@Model.TrainingCosts.TravelAndLivingCosts.Pilots.Planned.Precentage %</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>Dedicated</td>
                <td>Miles</td>
                <td>@Model.TrainingCosts.TravelAndLivingCosts.Pilots.Dedicated.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingCosts.TravelAndLivingCosts.Pilots.Dedicated.Value)</td>
                <td>@Model.TrainingCosts.TravelAndLivingCosts.Pilots.Dedicated.Precentage %</td>
            </tr>
            <tr class="header bks-toggle-1 bks-toggle-1-stop bks-toggle-2-stop">
                <td>
                    <img src="@Url.Content("~/Content/Images/bullet_toggle_minus.png")" class="pointer" alt="collapse" />
                </td>
                <td>Hotels</td>
                <td>&nbsp;</td>
                <td>@Model.TrainingCosts.Hotels.Summary.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingCosts.Hotels.Summary.Value)</td>
                <td>@Model.TrainingCosts.Hotels.Summary.Precentage %</td>
            </tr>
            <tr class="subheader bks-toggle-2">
                <td>
                    <img src="@Url.Content("~/Content/Images/bullet_toggle_minus.png")" class="pointer" alt="collapse" />
                </td>
                <td>Instructors</td>
                <td>Nights</td>
                <td>@Model.TrainingCosts.Hotels.Instructors.Summary.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingCosts.Hotels.Instructors.Summary.Value)</td>
                <td>@Model.TrainingCosts.Hotels.Instructors.Summary.Precentage %</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>Required nights</td>
                <td>Nights</td>
                <td>@Model.TrainingCosts.Hotels.Instructors.Requirednights.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingCosts.Hotels.Instructors.Requirednights.Value)</td>
                <td>@Model.TrainingCosts.Hotels.Instructors.Requirednights.Precentage %</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>Forced nights</td>
                <td>Nights</td>
                <td>@Model.TrainingCosts.Hotels.Instructors.Forcednights.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingCosts.Hotels.Instructors.Forcednights.Value)</td>
                <td>@Model.TrainingCosts.Hotels.Instructors.Forcednights.Precentage %</td>
            </tr>
            <tr class="subheader bks-toggle-2 bks-toggle-2-stop">
                <td>
                    <img src="@Url.Content("~/Content/Images/bullet_toggle_minus.png")" class="pointer" alt="collapse" />
                </td>
                <td>Evaluators</td>
                <td>Nights</td>
                <td>@Model.TrainingCosts.Hotels.Evaluators.Summary.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingCosts.Hotels.Evaluators.Summary.Value)</td>
                <td>@Model.TrainingCosts.Hotels.Evaluators.Summary.Precentage %</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>Required nights</td>
                <td>Nights</td>
                <td>@Model.TrainingCosts.Hotels.Evaluators.Requirednights.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingCosts.Hotels.Evaluators.Requirednights.Value)</td>
                <td>@Model.TrainingCosts.Hotels.Evaluators.Requirednights.Precentage %</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>Forced nights</td>
                <td>Nights</td>
                <td>@Model.TrainingCosts.Hotels.Evaluators.Forcednights.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingCosts.Hotels.Evaluators.Forcednights.Value)</td>
                <td>@Model.TrainingCosts.Hotels.Evaluators.Forcednights.Precentage %</td>
            </tr>
            <tr class="subheader bks-toggle-2 bks-toggle-2-stop">
                <td>
                    <img src="@Url.Content("~/Content/Images/bullet_toggle_minus.png")" class="pointer" alt="collapse" />
                </td>
                <td>Pilots</td>
                <td>Nights</td>
                <td>@Model.TrainingCosts.Hotels.Pilots.Summary.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingCosts.Hotels.Pilots.Summary.Value)</td>
                <td>@Model.TrainingCosts.Hotels.Pilots.Summary.Precentage %</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>Required nights</td>
                <td>Nights</td>
                <td>@Model.TrainingCosts.Hotels.Pilots.Requirednights.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingCosts.Hotels.Pilots.Requirednights.Value)</td>
                <td>@Model.TrainingCosts.Hotels.Pilots.Requirednights.Precentage %</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>Forced nights</td>
                <td>Nights</td>
                <td>@Model.TrainingCosts.Hotels.Pilots.Forcednights.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingCosts.Hotels.Pilots.Forcednights.Value)</td>
                <td>@Model.TrainingCosts.Hotels.Pilots.Forcednights.Precentage %</td>
            </tr>
            <tr class="mainheader bks-toggle-0 bks-toggle-1-stop bks-toggle-0-stop bks-toggle-2-stop" style="background-color: #caced1;">
                <td>
                    <img src="@Url.Content("~/Content/Images/bullet_toggle_minus.png")" class="pointer" alt="collapse" />
                </td>
                <td style="font-weight: bold; text-decoration: underline;">Other Costs</td>
                <td>&nbsp;</td>
                <td>@Model.TrainingCosts.OtherCosts.Summary.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingCosts.OtherCosts.Summary.Value)</td>
                <td>@Model.TrainingCosts.OtherCosts.Summary.Precentage %</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>Simulator setup</td>
                <td>Hours</td>
                <td>@Model.TrainingCosts.OtherCosts.SimulatorSetup.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingCosts.OtherCosts.SimulatorSetup.Value)</td>
                <td>@Model.TrainingCosts.OtherCosts.SimulatorSetup.Precentage %</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>Maintenance</td>
                <td>Hours</td>
                <td>@Model.TrainingCosts.OtherCosts.Maintenance.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingCosts.OtherCosts.Maintenance.Value)</td>
                <td>@Model.TrainingCosts.OtherCosts.Maintenance.Precentage %</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>Simulator idle time</td>
                <td>Hours</td>
                <td>@Model.TrainingCosts.OtherCosts.SimulatorIdleTtime.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingCosts.OtherCosts.SimulatorIdleTtime.Value)</td>
                <td>@Model.TrainingCosts.OtherCosts.SimulatorIdleTtime.Precentage %</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="mainheader bks-toggle-0 bks-toggle-0-stop" style="background-color: #caced1;">
                <td>
                    <img src="@Url.Content("~/Content/Images/bullet_toggle_minus.png")" class="pointer" alt="collapse" />
                </td>
                <td style="font-weight: bold; text-decoration: underline;">Training Value and Revenue</td>
                <td>&nbsp;</td>
                <td>@Model.TrainingValueAndRevalue.Summary.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingValueAndRevalue.Summary.Value)</td>
                <td>@Model.TrainingValueAndRevalue.Summary.Precentage %</td>
            </tr>
            <tr class="header bks-toggle-1">
                <td>
                    <img src="@Url.Content("~/Content/Images/bullet_toggle_minus.png")" class="pointer" alt="collapse" />
                </td>
                <td>Physical Resources (lease)</td>
                <td>&nbsp;</td>
                <td>@Model.TrainingValueAndRevalue.PhysicalResources.Summary.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingValueAndRevalue.PhysicalResources.Summary.Value)</td>
                <td>@Model.TrainingValueAndRevalue.PhysicalResources.Summary.Precentage %</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>Simulators</td>
                <td>Hours</td>
                <td>@Model.TrainingValueAndRevalue.PhysicalResources.Simulator.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingValueAndRevalue.PhysicalResources.Simulator.Value)</td>
                <td>@Model.TrainingValueAndRevalue.PhysicalResources.Simulator.Precentage %</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>Other training devices</td>
                <td>Hours</td>
                <td>@Model.TrainingValueAndRevalue.PhysicalResources.OtherTrainingDevices.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingValueAndRevalue.PhysicalResources.OtherTrainingDevices.Value)</td>
                <td>@Model.TrainingValueAndRevalue.PhysicalResources.OtherTrainingDevices.Precentage %</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>Classrooms</td>
                <td>Hours</td>
                <td>@Model.TrainingValueAndRevalue.PhysicalResources.Classrooms.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingValueAndRevalue.PhysicalResources.Classrooms.Value)</td>
                <td>@Model.TrainingValueAndRevalue.PhysicalResources.Classrooms.Precentage %</td>
            </tr>
            <tr class="header bks-toggle-1 bks-toggle-1-stop">
                <td>
                    <img src="@Url.Content("~/Content/Images/bullet_toggle_minus.png")" class="pointer" alt="collapse" />
                </td>
                <td>Human Resources (service)</td>
                <td>&nbsp;</td>
                <td>@Model.TrainingValueAndRevalue.HumanResources.Summary.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingValueAndRevalue.HumanResources.Summary.Value)</td>
                <td>@Model.TrainingValueAndRevalue.HumanResources.Summary.Precentage %</td>
            </tr>
            <tr class="subheader bks-toggle-2">
                <td>
                    <img src="@Url.Content("~/Content/Images/bullet_toggle_minus.png")" class="pointer" alt="collapse" />
                </td>
                <td>Instructors</td>
                <td>Hours</td>
                <td>@Model.TrainingValueAndRevalue.HumanResources.Instrctors.Summary.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingValueAndRevalue.HumanResources.Instrctors.Summary.Value)</td>
                <td>@Model.TrainingValueAndRevalue.HumanResources.Instrctors.Summary.Precentage %</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>Standard rate</td>
                <td>Hours</td>
                <td>@Model.TrainingValueAndRevalue.HumanResources.Instrctors.StandardRate.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingValueAndRevalue.HumanResources.Instrctors.StandardRate.Value)</td>
                <td>@Model.TrainingValueAndRevalue.HumanResources.Instrctors.StandardRate.Precentage %</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>Special rate</td>
                <td>Hours</td>
                <td>@Model.TrainingValueAndRevalue.HumanResources.Instrctors.SpecialRate.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingValueAndRevalue.HumanResources.Instrctors.SpecialRate.Value)</td>
                <td>@Model.TrainingValueAndRevalue.HumanResources.Instrctors.SpecialRate.Precentage %</td>
            </tr>
            <tr class="subheader bks-toggle-2 bks-toggle-2-stop">
                <td>
                    <img src="@Url.Content("~/Content/Images/bullet_toggle_minus.png")" class="pointer" alt="collapse" />
                </td>
                <td>Evaluators</td>
                <td>Hours</td>
                <td>@Model.TrainingValueAndRevalue.HumanResources.Evaluators.Summary.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingValueAndRevalue.HumanResources.Evaluators.Summary.Value)</td>
                <td>@Model.TrainingValueAndRevalue.HumanResources.Evaluators.Summary.Precentage %</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>Standard rate</td>
                <td>Hours</td>
                <td>@Model.TrainingValueAndRevalue.HumanResources.Evaluators.StandardRate.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingValueAndRevalue.HumanResources.Evaluators.StandardRate.Value)</td>
                <td>@Model.TrainingValueAndRevalue.HumanResources.Evaluators.StandardRate.Precentage %</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>Special rate</td>
                <td>Hours</td>
                <td>@Model.TrainingValueAndRevalue.HumanResources.Evaluators.SpecialRate.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingValueAndRevalue.HumanResources.Evaluators.SpecialRate.Value)</td>
                <td>@Model.TrainingValueAndRevalue.HumanResources.Evaluators.SpecialRate.Precentage %</td>
            </tr>
            <tr class="header bks-toggle-1 bks-toggle-1-stop bks-toggle-2-stop">
                <td>
                    <img src="@Url.Content("~/Content/Images/bullet_toggle_minus.png")" class="pointer" alt="collapse" />
                </td>
                <td>Trainees</td>
                <td>&nbsp;</td>
                <td>@Model.TrainingValueAndRevalue.TraineesRevenue.Summary.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingValueAndRevalue.TraineesRevenue.Summary.Value)</td>
                <td>@Model.TrainingValueAndRevalue.TraineesRevenue.Summary.Precentage %</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>Pilots continuing qualification</td>
                <td>Hours</td>
                <td>@Model.TrainingValueAndRevalue.TraineesRevenue.PilotsContinuingQualifications.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingValueAndRevalue.TraineesRevenue.PilotsContinuingQualifications.Value)</td>
                <td>@Model.TrainingValueAndRevalue.TraineesRevenue.PilotsContinuingQualifications.Precentage %</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>Pilots qualification training</td>
                <td>Hours</td>
                <td>@Model.TrainingValueAndRevalue.TraineesRevenue.PilotsQualificationTraining.Qty</td>
                <td>@Html.DisplayFor(model => model.TrainingValueAndRevalue.TraineesRevenue.PilotsQualificationTraining.Value)</td>
                <td>@Model.TrainingValueAndRevalue.TraineesRevenue.PilotsQualificationTraining.Precentage %</td>
            </tr>
            <tr class="mainheader bks-toggle-0 bks-toggle-1-stop bks-toggle-0-stop" style="background-color: #caced1;">
                <td>
                    <img src="@Url.Content("~/Content/Images/bullet_toggle_minus.png")" class="pointer" alt="collapse" />
                </td>
                <td style="font-weight: bold; text-decoration: underline;">Bidding</td>
                <td>&nbsp;</td>
                <td>@Model.BiddingRequestsMetSummary.Qty</td>
                <td>@Html.DisplayFor(model => model.BiddingRequestsMetSummary.Value)</td>
                <td>@Model.BiddingRequestsMetSummary.Precentage %</td>
            </tr>
            <tr class="subheader bks-toggle-1">
                <td>
                    <img src="@Url.Content("~/Content/Images/bullet_toggle_minus.png")" class="pointer" alt="collapse" />
                </td>
                <td>Instructors / Evaluators</td>
                <td>&nbsp;</td>
                <td>@Model.BiddingRequestsMet.Qty</td>
                <td>@Html.DisplayFor(model => model.BiddingRequestsMet.Value)</td>
                <td>@Model.BiddingRequestsMet.Precentage %</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>Bidding requests met</td>
                <td>Percentage</td>
                <td>@Model.BiddingRequestsMet.Qty</td>
                <td>@Html.DisplayFor(model => model.BiddingRequestsMet.Value)</td>
                <td>@Model.BiddingRequestsMet.Precentage %</td>
            </tr>
        </tbody>
</table>
    ​
</fieldset>
@section FormFooter
{
<a href="#">
    Export
</a>
    <a href="javascript:history.go(-1)">
        Back
    </a>

}

<script type="text/javascript">

    $(function () {
        $('.bks-toggle-0').click(function () {
            var elementState = $(this).attr("data-state");
            if (elementState == "open") {
                $(this).find('.pointer').attr('src', '@Url.Content("~/Content/Images/bullet_toggle_minus.png")');
                $(this).attr("data-state", "close");
            } else {
                $(this).find('.pointer').attr('src', '@Url.Content("~/Content/Images/bullet_toggle_plus.png")');
                $(this).attr("data-state", "open");
            }
            $(this).nextUntil('tr.bks-toggle-0-stop').slideToggle(150, function () {
            });
        });
    });

    $(function () {
        $('.bks-toggle-1').click(function () {
            var elementState = $(this).attr("data-state");
            if (elementState == "open") {
                $(this).find('.pointer').attr('src', '@Url.Content("~/Content/Images/bullet_toggle_minus.png")');
                $(this).attr("data-state", "close");
            } else {
                $(this).find('.pointer').attr('src', '@Url.Content("~/Content/Images/bullet_toggle_plus.png")');
                $(this).attr("data-state", "open");
            }
            $(this).nextUntil('tr.bks-toggle-1-stop').slideToggle(150, function () {
            });
        });
    });

    $(function () {
        $('.bks-toggle-2').click(function () {
            var elementState = $(this).attr("data-state");
            if (elementState == "open") {
                $(this).find('.pointer').attr('src', '@Url.Content("~/Content/Images/bullet_toggle_minus.png")');
                $(this).attr("data-state", "close");
            } else {
                $(this).find('.pointer').attr('src', '@Url.Content("~/Content/Images/bullet_toggle_plus.png")');
                $(this).attr("data-state", "open");
            }
            $(this).nextUntil('tr.bks-toggle-2-stop').slideToggle(150, function () {
            });
        });
    });
</script>
<style type="text/css">
    .header {
        background-color: #e0e0e0 !important;
    }
    
    .subheader {
        background-color: #f1f1f1 !important;
    }
    
    table thead tr
    {
        display:block;
    }

    table th,table td{
    }
    
    table  tbody{
      display:block;
      height:630px;
      overflow:auto;
    }
</style>
