﻿@using System.Web.Helpers
@using FoxConcept.Models.ViewModels.Optimization
@using FoxConcept.Models.ViewModels.Shared
@model FoxConcept.Models.ShowPlanViewModel
@{
    ViewBag.Title = "Show Plan";
    Layout = "~/Views/Shared/_FoxFormLayout.cshtml";
}
@section FormHeader
{
    <span>@ViewBag.Title</span>
}

@if (Model.Goals != null)
{
    <input type="checkbox" value="false" id="cbPreviewSettings" /><span>Preview optimization settings</span>
    <div id="PreviewSettings" style="display: none;">
        <fieldset>
            <legend>Optimization Goals</legend>
            <div id="optimizationselection" class="container span10">
                @{ Html.RenderPartial("_OptimizationSettingsGoalsListPreviewSettings", Model.Goals); }
            </div>
        </fieldset>
    </div>
}


<fieldset>
    <legend>Required Training Statistics</legend>
    @{
        WebGrid reqTrainingGrid = new WebGrid(source: Model.RequiredMasterPlanOptimizationStatistics);
        @reqTrainingGrid.GetHtml(
            columns: reqTrainingGrid.Columns(
            reqTrainingGrid.Column("MasterPlanName", "Master Plan Name", style: "MasterPlanName"),
            reqTrainingGrid.Column("ScheduledRequests", "Scheduled Requests", style: "ScheduledRequests", format: @<text>@item.ScheduledRequests (CA: @item.ScheduledCaptains FO: @item.ScheduledFirstOfficers)</text>),
            reqTrainingGrid.Column("UnscheduledRequests", "Unscheduled Requests", style: "UnscheduledRequests"),
            reqTrainingGrid.Column("PairedRequests", "Paired Requests", style: "PairedRequests"),
            reqTrainingGrid.Column("UnpairedRequests", "Unpaired Requests", style: "UnpairedRequests", format: @<text>@item.UnpairedRequests (CA: @item.UnpairedCaptains FO: @item.UnpairedFirstOfficers)</text>),
  reqTrainingGrid.Column("TotalCost", "Total Cost", style: "TotalCost", format: @<span currency="en-US">@item.TotalCost</span>),
            reqTrainingGrid.Column("TotalRevenue", "Total Revenue", style: "TotalRevenue", format: @<span currency="en-US">@item.TotalRevenue</span>)
            )
        );
    }
</fieldset>


<fieldset>
    <legend>Additional Training Statistics</legend>
    @{
        WebGrid additionalTrainingGrid = new WebGrid(source: Model.AdditionalMasterPlanOptimizationStatistics);
        @additionalTrainingGrid.GetHtml(
            columns: additionalTrainingGrid.Columns(
                additionalTrainingGrid.Column("MasterPlanName", "Master Plan Name", style: "MasterPlanName"),
                additionalTrainingGrid.Column("ScheduledRequests", "Scheduled Requests", style: "ScheduledRequests"),
                additionalTrainingGrid.Column("UnscheduledRequests", "Unscheduled Requests", style: "UnscheduledRequests"),
                additionalTrainingGrid.Column("TotalCost", "Total Cost", style: "TotalCost", format: @<span currency="en-US">@item.TotalCost</span>),
                additionalTrainingGrid.Column("TotalRevenue", "Total Revenue", style: "TotalRevenue", format: @<span currency="en-US">@item.TotalRevenue</span>)
                )
            )
        ;
    }
</fieldset>





@Html.Hidden("timeline-data", Json.Encode(Model.GanntItems))
@Html.Hidden("utilization-data", Json.Encode(Model.UtilizationItems))
<div id="timeline"></div>
<div id="utilization-timeline"></div>


@{ Html.RenderPartial("_ShowOptimizedPlanTable", Model); }

@section FormFooter
{
    <a href="javascript:window.close()">
        <img alt="Close" src="/Content/Images/FoxClose.gif" />Close</a>
    <a href="/optimization/ShowPlanSummary?PlanID=1">Cost Analysis</a>
    <a href="/optimization/SelectPlansToCompare">Compare Plans</a>

    <style type="text/css">
        .captain-col {
            width: 20%;
        }

        .first-officer-col {
            width: 20%;
        }

        .first-officer-col {
            width: 20%;
        }

        .master-plan-col {
            width: 25%;
        }

        .start-date-col {
            width: 10%;
        }

        .end-date-col {
            width: 10%;
        }

        .is-scheduled-col {
            width: 5%;
        }

        .table-container {
            margin: 10px;
        }

        #timeline, #utilization-timeline {
            margin: 10px;
        }

        .tp-timeline-item {
            height: 25px !important;
            font-size: 11px !important;
        }

        .mp-color-7315, .mp-color-9606 {
            height: 40px;
            background: none !important;
            background: #a7cfdf !important; /* Old browsers */
            background: -moz-linear-gradient(top, #f6e6b4 0%, #ed9017 100%) !important; /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6e6b4), color-stop(100%,#ed9017)) !important; /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #f6e6b4 0%,#ed9017 100%) !important; /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #f6e6b4 0%,#ed9017 100%) !important; /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #f6e6b4 0%,#ed9017 100%) !important; /* IE10+ */
            background: linear-gradient(to bottom, #f6e6b4 0%,#ed9017 100%) !important; /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 ) !important; /* IE6-9 */
        }

        .mp-color-7671, .mp-color-9528 {
            height: 40px;
            background: none !important;
            background: #93cede; /* Old browsers */
            background: -moz-linear-gradient(top, #93cede 0%, #75bdd1 41%, #49a5bf 100%) !important; /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93cede), color-stop(41%,#75bdd1), color-stop(100%,#49a5bf)) !important; /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #93cede 0%,#75bdd1 41%,#49a5bf 100%) !important; /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #93cede 0%,#75bdd1 41%,#49a5bf 100%) !important; /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #93cede 0%,#75bdd1 41%,#49a5bf 100%) !important; /* IE10+ */
            background: linear-gradient(to bottom, #93cede 0%,#75bdd1 41%,#49a5bf 100%) !important; /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf',GradientType=0 ) !important; /* IE6-9 */
        }

        .mp-color-9535 {
            background: #fcfff4; /* Old browsers */
            background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%) !important; /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(40%,#dfe5d7), color-stop(100%,#b3bead)) !important; /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%) !important; /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%) !important; /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%) !important; /* IE10+ */
            background: linear-gradient(to bottom, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%) !important; /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ) !important; /* IE6-9 */
        }

        .utilizationBar {
            height: 40px;
            background: none !important;
            border: none !important;
            background-color: transparent !important;
        }

        div.beforePlanUtilization {
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            text-align: center;
            color: white;
            background: #e5e5e5;
            border-top: 2px solid gray;
            -moz-opacity: 0.50;
            opacity: 0.50;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=60);
        }

        div.afterPlanUtilization {
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            -moz-opacity: 0.60;
            opacity: 0.60;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=60);
        }
    </style>
    <script src="/Scripts/ShowOptimizedPlan/ShowOptimizedPlan.js" type="text/javascript"></script>
    <script src="/Scripts/OptimizationCommon/OptimizationCommon.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(function() {

            $("#cbPreviewSettings").change(function () {

                if ($(this).prop('checked')) {
                    $("#PreviewSettings").show();
                } else {
                    $("#PreviewSettings").hide();
                }

            });

        });
    </script>

}
