﻿@model FoxConcept.Models.ViewModels.BiddingRules.BiddingRuleViewModel
@{
    ViewBag.Title = "Add Bidding Rule";
    Layout = "~/Views/Shared/_FoxFormLayout.cshtml";
}
@section scripts
{
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/FormAjax.js")" type="text/javascript"></script>
}
@section FormHeader
{
    <span>@ViewBag.Title</span>
}
<div class="container">
    @using (Html.BeginForm("AddBiddingRule", "BiddingRules", FormMethod.Post, null))
    {
        <fieldset>
            <legend>General Details</legend>


            <div class="span10">
                @Html.LabelFor(m => m.Name, new { @class = "span2" })
                @Html.TextBoxFor(m => m.Name, new { @class = "x-large" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>

            <div class="span10">
                @Html.LabelFor(m => m.EntityTypeID, new { @class = "span2" })
                @Html.DropDownListFor(m => m.EntityTypeID, new SelectList(Model.EntityTypes, "ID", "Name"), new { @class = "x-large" })
                @Html.ValidationMessageFor(m => m.EntityTypeID)
            </div>

            <div class="span10">
                @Html.LabelFor(m => m.BiddingType, new { @class = "span2" })
                @Html.DropDownListFor(model => model.BiddingType, SelectListItemsForHelper.SelectListItemsFor(Model.BiddingType), new { @class = "x-large" })
                @Html.ValidationMessageFor(m => m.BiddingType)
            </div>

            <div class="span10">
                @Html.LabelFor(m => m.BiddingCalendars, new { @class = "span2" })
                @Html.DropDownListFor(m => m.BiddingCalendarID, new SelectList(Model.BiddingCalendars, "ID", "Name"), new { @class = "x-large" })
                @Html.ValidationMessageFor(m => m.BiddingCalendarID)
            </div>

            <div class="span10">
                <label class="span2">Start bidding</label>
                @Html.TextBoxFor(m => m.StartBidding, new { @class = "x-large width-60" })
                <span class="right">days before bidding period</span>
                @Html.ValidationMessageFor(m => m.StartBidding)
            </div>

            <div class="span10">
                <label class="span2">End bidding</label>
                @Html.TextBoxFor(m => m.EndBidding, new { @class = "x-large width-60" })
                <span class="right">days before bidding period</span>
                @Html.ValidationMessageFor(m => m.EndBidding)
            </div>
            <div class="span10">
                @Html.LabelFor(m => m.DaysPerInstructor, new { @class = "span2" })
                @Html.TextBoxFor(m => m.DaysPerInstructor, new { @class = "x-large width-60" })
                @Html.ValidationMessageFor(m => m.DaysPerInstructor)
            </div>
        </fieldset>
    }

</div>
@section FormFooter
{
    <a href="javascript:window.close()">
        <img alt="Close" src="/Content/Images/FoxClose.gif" />
        Close</a>
    <a href="#" id="FormSubmit">Save</a>
    <div id="progressSpan" class="Progress" data-success="@Url.Content("~/Content/Succeeded.gif")" style="display: none;">
        <span id="progressText"></span>
        <img id="progressImg" alt="" src="@Url.Content("~/Content/InProcess.gif")">
    </div>
    @*<a href="#"  onclick="document.forms[0].submit()">Save</a>*@


}