﻿@model IEnumerable<FoxConcept.Models.ViewModels.BiddingRules.BiddingCalendarViewMode>
@{
    ViewBag.Title = "Bidding Calendars";
    Layout = "~/Views/Shared/_FoxPageLayout.cshtml";
}

@section Header
{
    <link href="/Content/dropit.css" rel="stylesheet" type="text/css" />
}

<div id="BiddingRulesTable" class="container ">
    <div class="TableHeader">
        <span>Bidding Calendars</span>
        <ul class="menu dropit pull-right">
            <li><a>
                <div class="button">@Html.NewWindowActionLink("AddBiddingCalendar", "BiddingRules", "Add")</div>
            </a>
            </li>
        </ul>
    </div>
</div>

<div class="container scrollable height90">


    <table>
        <thead>
            <tr>
                <th width="2%">&nbsp;</th>
                <th width="18%">Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <ul class="menu dropit">
                            <li>
                                <a href="#">
                                    <img src='/Content/Images/edit.gif' alt='Edit' /></a>
                                <ul class="dropit-submenu-left">
                                    <li>@Html.NewWindowActionLink(String.Format("GetBiddingPeriods/{0}", item.ID.ToString()), "BiddingRules", "Show Bidding Periods", null, false)</li>
                                    <li>@Html.NewWindowActionLink(String.Format("AddBiddingPeriod/{0}", item.ID.ToString()), "BiddingRules", "Add Bidding Periods", null, false)</li>
                                    <li>@Html.NewWindowActionLink(String.Format("EditBiddingCalendar/{0}", item.ID.ToString()), "BiddingRules", "Edit", null, false)</li>
                                    <li>@Html.ActionLink("Delete", "DeleteBiddingCalendar", new { @ID = item.ID })</li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                    <td>@item.Name</td>
                </tr>
            }
        </tbody>

    </table>
</div>
@section Footer
{
    <script src="/Scripts/Dropit/dropit.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.menu').dropit();


    });
</script>