﻿@using FoxConcept.Models.ViewModels.CostSettings
@model IEnumerable<FoxConcept.Models.ViewModels.BiddingRules.BiddingPeriodViewModel>
@{
    ViewBag.Title = "Bidding Period";
    Layout = "~/Views/Shared/_FoxPageLayout.cshtml";
}
@section Header
{
    <link href="/Content/dropit.css" rel="stylesheet" type="text/css" />
}
<div id="BiddingRulesTable" class="container ">
    <div class="TableHeader">
        <span>Bidding Periods</span>
        <ul class="menu dropit pull-right">
            <li><a>
                <div class="button">@Html.NewWindowActionLink("AddBiddingPeriod", "BiddingRules", "Add", String.Format("ID={0}", ViewData["CalendarID"].ToString()))</div>
            </a>
            </li>
        </ul>
    </div>
</div>

<div class="container scrollable height90">


    <table>
        <thead>
            <tr>
                <th width="2%">&nbsp;</th>
                <th width="48%">Name</th>
                <th width="25%">Start Date</th>
                <th width="250%">End Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <ul class="menu dropit">
                            <li>
                                <a href="#">
                                    <img src='/Content/Images/edit.gif' alt='Edit' /></a>
                                <ul class="dropit-submenu-left">
                                    <li>@Html.NewWindowActionLink(String.Format("EditBiddingPeriod/{0}", item.ID.ToString()), "BiddingRules", "Edit",null, false)</li>
                                    <li>@Html.ActionLink("Delete", "DeleteBiddingPeriod", new {@ID = item.ID})</li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                    <td>@item.Name</td>
                    <td>@item.StartDate.ToString("dd/MM/yyyy")</td>
                    <td>@item.EndDate.ToString("dd/MM/yyyy")</td>
                </tr>
            }
        </tbody>

    </table>
</div>
@section Footer
{
    <script src="/Scripts/Dropit/dropit.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.menu').dropit();


    });
</script>