﻿@using FoxConcept.Models.ViewModels.CostSettings
@model FoxConcept.Models.ViewModels.CostSettings.CostSettingViewModel
@{
    ViewBag.Title = "Add Participant Cost";
    Layout = "~/Views/Shared/_FoxFormLayout.cshtml";
}
@section scripts
{
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/FormAjax.js")" type="text/javascript"></script>
}
@section FormHeader
{
    <span>@ViewBag.Title</span>
}

<div class="container">
    @using (Html.BeginForm("AddParticipantCost", "CostSettings", FormMethod.Post, null))
    {
        <fieldset>
            <legend>General Details</legend>

            @Html.HiddenFor(m => m.EntityType)

            <div class="span10">
                @Html.LabelFor(m => m.Name, new { @class = "span2" })
                @Html.TextBoxFor(m => m.Name, new { @class = "x-large" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>

            <div class="span10">
                @Html.LabelFor(m => m.StateType, new { @class = "span2" })
                @Html.DropDownListFor(model => model.StateType, SelectListItemsForHelper.SelectListItemsFor(Model.StateType), new { @class = "x-large" })
                @Html.ValidationMessageFor(m => m.StateType)
            </div>

@*            <div class="span10">
                @Html.LabelFor(m => m.TargetGroupType, new { @class = "span2" })
                @Html.DropDownListFor(model => model.TargetGroupType, SelectListItemsForHelper.SelectListItemsFor(Model.TargetGroupType), new { @class = "x-large" })
                @Html.ValidationMessageFor(m => m.TargetGroupType)
            </div>*@

            <div class="span10">
                @Html.LabelFor(m => m.EntityTypeID, new { @class = "span2" })
                @Html.DropDownListFor(m => m.EntityTypeID, new SelectList(Model.EntityTypes, "ID", "Name"), new { @class = "x-large" })
                @Html.ValidationMessageFor(m => m.EntityTypeID)
            </div>

            <div class="span10">
                @Html.LabelFor(m => m.CostType, new { @class = "span2" })
                @Html.DropDownListFor(model => model.CostType, SelectListItemsForHelper.SelectListItemsFor(Model.CostType), new { @class = "x-large" })
                @Html.ValidationMessageFor(m => m.CostType)
            </div>

            <div class="span10">
                @Html.LabelFor(m => m.Cost, new { @class = "span2" })
                @Html.TextBoxFor(m => m.Cost, new { @class = "x-large" })
                @Html.ValidationMessageFor(m => m.Cost)
            </div>

            <div class="span10">
                @Html.LabelFor(m => m.CostPer, new { @class = "span2" })
                @Html.DropDownListFor(model => model.CostPer, SelectListItemsForHelper.SelectListItemsFor(Model.CostPer), new { @class = "x-large" })
                @Html.ValidationMessageFor(m => m.CostPer)
            </div>

            <div class="span10">
                @Html.LabelFor(m => m.ConsiderInOptimization, new { @class = "span2" })
                @Html.CheckBoxFor(m => m.ConsiderInOptimization)
                @Html.ValidationMessageFor(m => m.ConsiderInOptimization)
            </div>

            <div class="span10">
                @Html.LabelFor(m => m.Comments, new { @class = "span2" })
                @Html.TextAreaFor(m => m.Comments, new { @class = "x-large" })
                @Html.ValidationMessageFor(m => m.Comments)
            </div>

            <div class="span10">
                @Html.LabelFor(m => m.Locations, new { @class = "span2" })
                @Html.DropDownListFor(m => m.LocationID, new SelectList(Model.Locations, "ID", "Name", "Select a Value"), new { @class = "x-large" })
                @Html.ValidationMessageFor(m => m.LocationID)
            </div>
        </fieldset>
    }

</div>
@section FormFooter
{
    <a href="javascript:window.close()">
        <img alt="Close" src="/Content/Images/FoxClose.gif" />
        Close</a>
    <a href="#" id="FormSubmit">Save</a>
    <div id="progressSpan" class="Progress" data-success="@Url.Content("~/Content/Succeeded.gif")" style="display: none;">
        <span id="progressText"></span>
        <img id="progressImg" alt="" src="@Url.Content("~/Content/InProcess.gif")">
    </div>
    @*<a href="#"  onclick="document.forms[0].submit()">Save</a>*@


}