﻿@using FoxConcept.Models.ViewModels.CostSettings
@model FoxConcept.Models.ViewModels.CostSettings.CostTypeViewModel
@{
    ViewBag.Title = "Edit Cost Type";
    Layout = "~/Views/Shared/_FoxFormLayout.cshtml";
}
@section scripts
{
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/FormAjax.js")" type="text/javascript"></script>
}
@section FormHeader
{
    <span>@ViewBag.Title</span>
}

<div class="container">
    @using (Html.BeginForm("EditCostType", "CostSettings", FormMethod.Post, null))
    {
        <fieldset>
            <legend>General Details</legend>

            @Html.HiddenFor(m => m.ID)

            <div class="span10">
                @Html.LabelFor(m => m.Name, new { @class = "span2" })
                @Html.TextBoxFor(m => m.Name, new { @class = "x-large" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>


            <div class="span10">
                @Html.LabelFor(m => m.CostType, new { @class = "span2" })
                @Html.DropDownListFor(model => model.CostType, SelectListItemsForHelper.SelectListItemsFor(Model.CostType), new { @class = "x-large" })
                @Html.ValidationMessageFor(m => m.CostType)
            </div>

            <div class="span10">
                @Html.LabelFor(m => m.CostPer, new { @class = "span2" })
                @Html.DropDownListFor(model => model.CostPer, SelectListItemsForHelper.SelectListItemsFor(Model.CostPer), new { @class = "x-large" })
                @Html.ValidationMessageFor(m => m.CostPer)
            </div>

            <div class="span10">
                @Html.LabelFor(m => m.Cost, new { @class = "span2" })
                @Html.TextBoxFor(m => m.Cost, new { @class = "x-large" })
                @Html.ValidationMessageFor(m => m.Cost)
            </div>

            <div class="span10">
                @Html.LabelFor(m => m.Locations, new { @class = "span2" })
                @Html.DropDownListFor(m => m.LocationID, new SelectList(Model.Locations, "ID", "Name", "Select a Value"), new { @class = "x-large" })
                @Html.ValidationMessageFor(m => m.LocationID)
            </div>

        </fieldset>
    }

</div>
@section FormFooter
{
    <a href="javascript:window.close()">
        <img alt="Close" src="/Content/Images/FoxClose.gif" />
        Close</a>
    <a href="#" id="FormSubmit">Save</a>
    <div id="progressSpan" class="Progress" data-success="@Url.Content("~/Content/Succeeded.gif")" style="display: none;">
        <span id="progressText"></span>
        <img id="progressImg" alt="" src="@Url.Content("~/Content/InProcess.gif")">
    </div>
}