﻿@using FoxConcept.Models.ViewModels.CostSettings
@model IEnumerable<FoxConcept.Models.ViewModels.CostSettings.CostTypeViewModel>
@{
    ViewBag.Title = "Cost Types";
    Layout = "~/Views/Shared/_CostSettingsLayout.cshtml";
}
@section AddButton
{
    <div class="button">@Html.NewWindowActionLink("AddCostType", "CostSettings", "Add")</div>
}
<div class="container scrollable height90">


    <table class="listTable">
        <thead>
            <tr>
                <th width="2%">&nbsp;</th>
                <th width="20%">Name</th>
                <th width="15%">Cost Type</th>
                <th width="10%">Cost</th>
                <th width="10%">Location</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>&nbsp;
                        <ul class="menu dropit">
                            <li>
                                <a href="#">
                                    <img src='/Content/Images/edit.gif' alt='Edit' /></a>
                                <ul class="dropit-submenu-left">
                                    <li>@Html.ActionCostSettings(eEntityType.HumanResource, item.ID, "Edit", "CostSettings", "EditCostType")</li>
                                    <li>@Html.ActionCostSettings(eEntityType.HumanResource, item.ID, "Delete", "CostSettings", "DeleteCostType", false)</li>
                                </ul>
                            </li>
                        </ul>

                    </td>
                    <td>@item.Name</td>
                    <td>@item.CostType.GetDescription()</td>
                    <td>&#36; @item.Cost</td>
                    <td>@item.LocationName</td>
                </tr>
            }
        </tbody>

    </table>
</div>

@section Footer
{
    <script src="/Scripts/Dropit/dropit.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.menu').dropit();
            

        });
    </script>
}