﻿@using FoxConcept.Models.ViewModels.CostSettings
@model FoxConcept.Models.ViewModels.CostSettings.CostSettingsViewModel
@{
    ViewBag.Title = "Participant costs ";
    Layout = "~/Views/Shared/_CostSettingsLayout.cshtml";
}
@section AddButton
{
    <div class="button">@Html.NewWindowActionLink("AddParticipantCost", "CostSettings", "Add")</div>
}
<div class="container scrollable height90">


    <table class="listTable">
        <thead>
            <tr>
                <th width="2%">&nbsp;</th>
                <th width="20%">Name</th>
                <th width="15%">Resource Type</th>
                <th width="10%">Cost For</th>
                <th width="10%">Cost</th>
                <th width="10%">Per</th>
                <th width="15%">Consider in Optimization</th>
                <th width="20%">Comments</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cost in Model.CostSettingViewModels)
            {
                <tr>
                    <td>&nbsp;
                        <ul class="menu dropit">
                            <li>
                                <a href="#">
                                    <img src='/Content/Images/edit.gif' alt='Edit' /></a>
                                <ul class="dropit-submenu-left">
                                    <li>@Html.ActionCostSettings(eEntityType.HumanResource, cost.ID, "Edit", "CostSettings", "EditParticipantCost")</li>
                                    <li>@Html.ActionCostSettings(eEntityType.HumanResource, cost.ID, "Delete", "CostSettings", "DeleteParticipantCost", false)</li>
                                </ul>
                            </li>
                        </ul>

                    </td>
                    <td>@cost.Name</td>
                    <td>@cost.EntityTypeName</td>
                    <td>@cost.CostType.GetDescription()</td>
                    <td>&#36; @cost.Cost</td>
                    <td>@cost.CostPer.GetDescription()</td>
                    <td>@cost.ConsiderInOptimization</td>
                    <td>&nbsp; @cost.Comments</td>
                </tr>
            }
        </tbody>

    </table>
</div>

@section Footer
{
    <script src="/Scripts/Dropit/dropit.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.menu').dropit();
            

        });
    </script>
}