﻿@using FoxConcept.Controllers
@using FoxConcept.Models.ViewModels.Optimization
@using FoxConcept.Models.ViewModels.Shared
@model FoxConcept.Models.AutomaticAssignemntsResultsViewModel
@{
	ViewBag.Title = "Automation Results";
	Layout = "~/Views/Shared/_FoxFormLayout.cshtml";
	
}
@section FormHeader{ <span>@ViewBag.Title</span> }


@helper getGeneralTrainingTable()
{
	var dataSource = Model.UsersTrainingProgramRegistrations;
	WebGrid reqTrainingGrid = new WebGrid(source: dataSource, canPage: false);
	
	var tbl = reqTrainingGrid.GetHtml(
	columns: reqTrainingGrid.Columns(
	reqTrainingGrid.Column("MasterPlanName", "Training Program Name", style: "MasterPlanName", format: @<text>@item.TrainingProgram.TrainingProgramPlanName</text>),
	reqTrainingGrid.Column("StartDate", "Start Date", style: "StartDate", format: @<text>@item.TrainingProgram.StartDate.ToString("MM/dd/yyy ")</text>),
	reqTrainingGrid.Column("EndDate", "End Date", style: "EndDate", format: @<text>@item.TrainingProgram.EndDate.ToString("MM/dd/yyy ")</text>),
	reqTrainingGrid.Column("UserName", "User Name", style: "UserName", format: @<text>@item.Users.UserLoginName</text>)
	)).ToString();
	
	@Html.Raw(tbl.ToString());
}

@helper getLeftAloneUsersTable()
{
	var dataSource = Model.UsersWithNoTrainingProgram;
	WebGrid reqTrainingGrid = new WebGrid(source: dataSource, canPage: false);
	
	var tbl = reqTrainingGrid.GetHtml(
	columns: reqTrainingGrid.Columns(
	reqTrainingGrid.Column("UserName", "User Name", style: "UserName", format: @<text>@item.RequestedForUserName</text>),
	reqTrainingGrid.Column("MasterPlan", "Master Plan Name", style: "MasterPlanName", format: @<text>@item.MasterPlanName</text>)
	)).ToString();
	
	@Html.Raw(tbl.ToString());
}

<div id="masterPlanOptimizationSettings" class="container span6">
<div class="TableHeader"><span>Training Programs</span></div>
@getGeneralTrainingTable()
@Html.Hidden("TrainingProgramToScheduleData", Json.Encode(Model.UsersTrainingProgramRegistrations))
@Html.Hidden("TrainingProgramToScheduleData", Json.Encode(Model.UsersWithNoTrainingProgram))

</div>

<br />
<br />

<div id="usersOptimizationSettings" class="container span6">
<div class="TableHeader"><span>Users that were not scheduled</span></div>
@getLeftAloneUsersTable()
</div>
<div class="inline">
@using (Html.BeginForm("Settings", "AutomaticScheduling", FormMethod.Post, new {id = "CertStatusHiddenForm" }))
{
	
	<button>Schedule Additional Training</button>
	foreach (var item in Model.UsersWithNoTrainingProgramCertifciationInfo)
	{
		<input name="UserCertifications" type="hidden" value="@Json.Encode(item)" />
	}
	<input type="hidden" name="ActionType" id="ActionType" value="ScheduleTraining" />
}

</div>

@section FormFooter
{
	<a href="/Certification/CertificationStatus" >Back</a>


	<style type="text/css">
		.ScheduleTPColumn {width:1%;}
		.CheckboxColumn {width:1%;}
		.checkbox-col {width:1%;}
		.MasterPlan {width:30%;}
		.StartDate {width:15%;}
		.EndDate {width:15%;}
		.SchedulingStatus {width:15%;}
		
		.table-container {margin:10px;}
		#timeline, #utilization-timeline {margin: 10px;}
		
	</style>

	<script type="text/javascript">
		function ScheduleTrainingPrograms()
		{
			var tpData = $.parseJSON($("#TrainingProgramToScheduleData").val());
			for (var i = 0; i < tpData.length; i++)
			{
				debugger;
				var MasterPlanID = tpData[i].MasterPlanID;
				var StartDate = convertJsonDate(tpData[i].StartDate);
				var EndDate = convertJsonDate(tpData[i].StartDate);
			}
		}

		function ScheduleSingleTrainingPrgoram(MPID, StartDate)
		{
			var url = "http://zorro.britannica-ks.com/administration/Les/EditCourse.aspx?ID=&OriginationID=&CourseTemplateID=" + MPID + "&StartDate=" + StartDate
			popupWindow(url, 800, 600);
		}

		

	</script>

}
