﻿@model FoxConcept.Models.AutomaticSchedulingSettingsViewModel
@{
	Layout = "~/Views/Shared/_FoxFormLayout.cshtml";
	ViewBag.Title = "Schedulig Settings";
}
@section FormHeader
{
	<span>@ViewBag.Title</span>
}
@using (Html.BeginForm("RunAutomation", "AutomaticScheduling", FormMethod.Post, null))
{
	<div id="masterPlanOptimizationSettings" class="container span10">
		<p>
			This page allows you to define what training needs to be scheduled and under what
			constraints.
			<br />
			The automation settings page includes the following sections:
		</p>
		<ul>
			<li>Training Requirements - a summarized list of the training requirements selected
				for scheduling. </li>
			<li>Resource Utilization - which resource types should be considerd to calcualte the
				availability</li>
		</ul>
		Please update the setting and priority value for each item in the form and press
		execute to run the optimization engine.
		<br />
		<br />
	</div>

if (Model.SchedulingRequirements != null)
{
<div id="TraininrRequirements" class="container radious4 span10">
	<div class="TableHeader"><span>Training Requirements</span><button id="btnAddMasterPlan" class="pull-right">Add</button></div>
	<table>
		<thead>
			<tr><th width="45%">Master Plan Type</th>
				<th width="10%">Required Quantity</th>
				<th width="20%">Timeframe Start Date</th>
				<th width="20%">Timeframe End Date</th>
			</tr>
		</thead>
		<tbody>
			@for (int i = 0; i < Model.SchedulingRequirements.Count(); i++)
			{
				var requirement = Model.SchedulingRequirements.ElementAt(i);
					
				<tr class="masterPlanInputRow">
				@{SelectList MPList = new SelectList(Model.AvailableMasterPlans, "MasterPlanID", "MasterPlanName", requirement.MasterPlan.MasterPlanID);}
				<td>@Html.DropDownListFor(m => Model.SchedulingRequirements[i].MasterPlan.MasterPlanID, MPList, new { Class = "Medium" })</td>
				<td>@Html.TextBoxFor(m => m.SchedulingRequirements[i].RequiredQuantity, new { Class = "tiny" })</td>
				<td>@Html.TextBoxFor(m => m.SchedulingRequirements[i].RequiredStartDateStr, new { Class = "medium", type = "date-picker" })</td>
				<td>@Html.TextBoxFor(m => m.SchedulingRequirements[i].RequiredEndDateStr, new { Class = "medium", type = "date-picker" })</td>
				</tr>
			}
		</tbody>
	</table>
</div>
}

<div id="ResourceTypesToConsider" class="container radious4 span10">
		<div class="TableHeader"><span>Resource Types</span></div>
		<table>
			<thead>
				<tr>
					<th width="2%">Enabled</th> 
					<th width="50%">Resource Type</th> 
				</tr>
			</thead>
			<tbody>
				@for (int i = 0; i < Model.ResourceTypesToConcider.Count(); i++)
				{
					var res = Model.ResourceTypesToConcider.ElementAt(i);
					
					<tr class="masterPlanInputRow">
					<td>
						<input type="checkbox" value="@res.TypeID" checked="checked" />
						@Html.HiddenFor(m => m.ResourceTypesToConcider[i].TypeID)
						@Html.HiddenFor(m => m.ResourceTypesToConcider[i].TypeName)
						@Html.HiddenFor(m => m.ResourceTypesToConcider[i].isSelected)
					</td>
					<td>@res.TypeName</td>
					</tr>
				}
			</tbody>
		</table>
	</div>

}
@section FormFooter
{
	<script src="/Scripts/OptimizationSettings/OptimizationSettings.js" type="text/javascript"></script>
	<a href="#" onclick="document.forms[0].submit()">Execute</a> 
	<a href="#"><img alt="Close" src="/Content/Images/ic_toolbar_open.gif" />Load Preset</a> 
	<a href="#"><img alt="Close" src="/Content/Images/ic_toolbar_save.gif" />Save Preset</a>
	<a href="#" onclick="window.location='@Request.UrlReferrer.AbsoluteUri'">Back</a>
}
