﻿@model FoxConcept.Models.AutomaticSchedulingSettingsViewModel
@{
	Layout = "~/Views/Shared/_FoxFormLayout.cshtml";
	ViewBag.Title = "Schedulig Settings";
}
@section FormHeader
{
	<span>@ViewBag.Title</span>
}



@helper getRequirementsAndAvailableTrainingTable()
{
	var dataSource = Model.SchedulingRequirements.Where(req=>req.AvailableTrainingPrograms != null);
	WebGrid reqTrainingGrid = new WebGrid(source: dataSource, canPage: false);
	
	var tbl = reqTrainingGrid.GetHtml(
	columns: reqTrainingGrid.Columns(
	reqTrainingGrid.Column("MasterPlanName", "Master Plan Name", style: "MasterPlanName", format: @<text>@item.MasterPlan.MasterPlanName</text>),
	reqTrainingGrid.Column("RequiredQuantity", "Required Quantity", style: "RequiredQuantity", format: @<text>@item.RequiredQuantity</text>),
	reqTrainingGrid.Column("RequiredStartDate", "Start Date", style: "RequiredStartDate", format: @<text>@item.RequiredStartDateStr</text>),
	reqTrainingGrid.Column("RequiredEndDate", "End Date", style: "RequiredEndDate", format: @<text>@item.RequiredEndDateStr </text>),
	reqTrainingGrid.Column("Available Training Programs", style: "AvailableTrainingPrograms", format: @<text>@item.AvailableTrainingPrograms.Count</text>)
),htmlAttributes: new {style="width:80%"}).ToString();
	
	@Html.Raw(tbl.ToString());
}



@using (Html.BeginForm("RunAutomaticAssignemnt", "AutomaticScheduling", FormMethod.Post, new { id = "settingsForm" }))
{
	<div id="masterPlanOptimizationSettings" class="container span10">
		<p>
			This page allows you to define rules for automatically assigning users to scheduled Training Programs.<br />
			The automation settings page includes the following sections:
		</p>
	</div>

<fieldset id="SchedulingRules" class="inline">
	<legend style="">Requirements and available training</legend>
	@getRequirementsAndAvailableTrainingTable()
</fieldset>
	
<fieldset id="SchedulingRules" class="inline">
	<legend style="">Scheduling Rules</legend>
	<div class="inline">
	<input type="checkbox" name="ConsiderAvailability" id="ConsiderAvailability" value="true" checked="checked" />
	<label for="ConsiderAvailability">Do not schedule unavailable users.</label>
	</div>
	
	<div class="inline">
	<label for="ConsiderAvailability">Prioritize users according to:</label>
	<select name="ConsiderAvailability" id="PrioretyParameter" class="medium">
		<option value="1">Due Date</option>
		<option value="2">Seniority</option>
	</select>
	</div>



	@for (int i = 0; i < Model.SchedulingRequirements.Count(); i++)
 {
		@Html.HiddenFor(m => m.SchedulingRequirements[i].MasterPlan.MasterPlanID)
	    @Html.HiddenFor(m => m.SchedulingRequirements[i].MasterPlan.MasterPlanName)
		@Html.HiddenFor(m => m.SchedulingRequirements[i].MasterPlan.ActivitiesToSchedule)
		@Html.HiddenFor(m => m.SchedulingRequirements[i].RequiredStartDate)
		@Html.HiddenFor(m => m.SchedulingRequirements[i].RequiredEndDate)
		@Html.HiddenFor(m => m.SchedulingRequirements[i].RequiredQuantity)

	 if (Model.SchedulingRequirements[i].RequiringUsers != null)
	 {
		 for (int j = 0; j < Model.SchedulingRequirements[i].RequiringUsers.Count(); j++)
		 {
				@Html.HiddenFor(m => m.SchedulingRequirements[i].RequiringUsers[j].UserID)
				@Html.HiddenFor(m => m.SchedulingRequirements[i].RequiringUsers[j].UserLoginName)
				@Html.HiddenFor(m => m.SchedulingRequirements[i].RequiringUsers[j].UserFirstName)
				@Html.HiddenFor(m => m.SchedulingRequirements[i].RequiringUsers[j].UserLastName)
		 }
	 }
	 if (Model.SchedulingRequirements[i].AvailableTrainingPrograms != null)
	 {
		 for (int j = 0; j < Model.SchedulingRequirements[i].AvailableTrainingPrograms.Count(); j++)
		 {
				@Html.HiddenFor(m => m.SchedulingRequirements[i].AvailableTrainingPrograms[j].MasterPlanID)
				@Html.HiddenFor(m => m.SchedulingRequirements[i].AvailableTrainingPrograms[j].MasterPlanName)
				@Html.HiddenFor(m => m.SchedulingRequirements[i].AvailableTrainingPrograms[j].StartDate)
				@Html.HiddenFor(m => m.SchedulingRequirements[i].AvailableTrainingPrograms[j].TrainingProgramID)
				@Html.HiddenFor(m => m.SchedulingRequirements[i].AvailableTrainingPrograms[j].TrainingProgramPlanName)
				@Html.HiddenFor(m => m.SchedulingRequirements[i].AvailableTrainingPrograms[j].EndDate)
		 }
	 }
 }

</fieldset>


}
@section FormFooter
{
	<script src="/Scripts/OptimizationSettings/OptimizationSettings.js" type="text/javascript"></script>
	<a href="#" onclick="ExecuteSchedule()">Execute</a> 
	<a href="#" onclick="window.location='@Request.UrlReferrer.AbsoluteUri'">Back</a>

	<script type="text/javascript">

		function ExecuteSchedule()
		{
			$("#settingsForm").submit();
		}
	
	</script>
}
