﻿@model FoxConcept.Models.ViewModels.Optimization.RunOptimizationViewModel
@{
	Layout = "~/Views/Shared/_FoxFormLayout.cshtml";
	ViewBag.Title = "Automation Progress";
}
@section FormHeader
{
	<span>@ViewBag.Title</span>
}

<div class="container radious4 span10">
	<div class="TableHeader">
		<span>Progress Report</span>
	</div>
	<table>
		<thead>
			<tr>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><pre id="verbosOutput"></pre></td>
			</tr>
			<tr><td><img alt="Please wait, optimizing..." id="img_progress" src="/Content/Images/Loading.gif" /></td></tr>
		</tbody>
	</table>
	
	


<script type="text/javascript">
	var lastReadLineNum = 0;
	$(document).ready(function (event)
	{
		$("#btnShowPlan").hide();
		getStatus();
	});

	function getStatus()
	{
		var progress = $('#img_progress');
		var outputConsole = $('#verbosOutput');
		progress.show();
		var url = '/AutomaticScheduling/getAutomationProgress/?LastLineRead=' + lastReadLineNum;
		$.get(url, function (data)
		{
			if (data["verbosLastLineNum"] != null)
				lastReadLineNum = data["verbosLastLineNum"];

			if (data["verbosNewLine"] != "")
			{
				outputConsole.append(data["verbosNewLine"]);
				outputConsole.append("<br />")
				$(".FormBody").animate({ scrollTop: $(".FormBody").height() + 30000 }, '500', 'swing', function () { });
			}
			if (data["processEnded"] != true)
			{
				window.setTimeout("getStatus()", 500);
			}
			else
			{
				outputConsole.append("<b>Done!<b>");
				progress.hide();
				$("#btnShowPlan").toggle("highlight");
				$("#btnShowPlan").toggle("highlight");
				$("#btnShowPlan").toggle("highlight");
			}

		});
	}
</script>
@section FormFooter
{
	<a href="javascript:window.close()"><img alt="Close" src="/Content/Images/FoxClose.gif" /> Close</a>
	@Html.ActionLink("Show Plan", "ShowAutomationResult", "AutomaticScheduling", new { InputFilePath = Model.OptimizationOutputFileName }, new { id = "btnShowPlan" })
}

