﻿@using FoxConcept.Controllers
@using FoxConcept.Models.ViewModels.Optimization
@using FoxConcept.Models.ViewModels.Shared
@model FoxConcept.Models.ShowPlanViewModel
@{
	ViewBag.Title = "Automation Results";
	Layout = "~/Views/Shared/_FoxFormLayout.cshtml";
	
}
@section FormHeader{ <span>@ViewBag.Title</span> }

@helper getTPCheckbox(dynamic item)
{
	TrainingProgram tp = item.Value as TrainingProgram;
	<input class="tpCheckbox" type="checkbox" id="@tp.OriginalRequestID" name="@tp.OriginalRequestID" />
}

@helper getScheduleTPButton(dynamic item)
{
	TrainingProgram tp = item.Value as TrainingProgram;
	
	<img onclick="ScheduleSingleTrainingPrgoram(@tp.MasterPlanID, '@tp.StartDate.Value.ToString("yyyy-MM-dd")')"  class="img-button" width="20px" src="/Content/Images/ic_calendar_schedule.png" alt="Schedule Training Program" />
}

@helper getGeneralTrainingTable()
	{
		var dataSource = Model.TrainingPrograms.Where(tp => tp.isScheduled).OrderBy(tp => tp.AnsweredRequests.Count());
	WebGrid reqTrainingGrid = new WebGrid(source: dataSource, canPage: false);
	
	var tbl = reqTrainingGrid.GetHtml(
	columns: reqTrainingGrid.Columns(
	reqTrainingGrid.Column(header: "{CheckBoxHeading}", style: "CheckboxColumn", format: @<text>@getTPCheckbox(item)</text>),
	reqTrainingGrid.Column(header: "", style: "ScheduleTPColumn", format: @<text>@getScheduleTPButton(item)</text>),
	reqTrainingGrid.Column("MasterPlanName", "Training Program Name", style: "MasterPlanName", format: @<text>@item.MasterPlanName - @(item.Value.OriginalRequestID)</text>),
	reqTrainingGrid.Column("StartDate", "Start Date", style: "StartDate", format: @<text>@item.Value.StartDate.ToString("MM/dd/yyy ")</text>),
	reqTrainingGrid.Column("EndDate", "End Date", style: "EndDate", format: @<text>@item.Value.EndDate.ToString("MM/dd/yyy ")</text>),
	reqTrainingGrid.Column(columnName: "Scheduling Status", style: "SchedulingStatus", format: @<text>Tentative</text>)
	)).ToString().Replace("{CheckBoxHeading}", "<input type='checkbox' id='selectAllCheckBox' class='UserCertCheckBox'/>"); ;
	
	@Html.Raw(tbl.ToString());
}



<div id="masterPlanOptimizationSettings" class="container span10">
<div class="TableHeader"><span>Training Programs</span></div>
@getGeneralTrainingTable()
@Html.Hidden("TrainingProgramToScheduleData", Json.Encode(Model.TrainingPrograms))

</div>


@section FormFooter
{
	<a href="#" onclick="ScheduleTrainingPrograms()">Schedule Training</a>
	<a href="/Certification/CertificationStatus" >Back</a>

	<style type="text/css">
		.ScheduleTPColumn {width:1%;}
		.CheckboxColumn {width:1%;}
		.checkbox-col {width:1%;}
		.MasterPlan {width:30%;}
		.StartDate {width:15%;}
		.EndDate {width:15%;}
		.SchedulingStatus {width:15%;}
		
		.table-container {margin:10px;}
		#timeline, #utilization-timeline {margin: 10px;}
		
	</style>

	<script type="text/javascript">
		function ScheduleTrainingPrograms()
		{
			var tpData = $.parseJSON($("#TrainingProgramToScheduleData").val());
			confirm("Are you sure you want to schedule the selected Training Programs?");
		}

		function ScheduleSingleTrainingPrgoram (MPID, StartDate)
		{
			var url = "http://zorro.britannica-ks.com/administration/Les/EditCourse.aspx?ID=&OriginationID=&CourseTemplateID=" + MPID + "&StartDate=" + StartDate
			var answere = popupWindow(url, 800, 600);
		}

		$("#selectAllCheckBox").change(function ()
		{
			var valueToSetToAllCheckboxes = this.checked;
			$(".tpCheckbox").each(function ()
			{
				this.checked = valueToSetToAllCheckboxes;
			});
		});


	</script>

}
