﻿@using System.Web.Helpers
@model FoxConcept.Models.ViewModels.Timeline.ResourceGanttViewModel

@{
    ViewBag.Title = "GetResourceRepositoryRresources";
    Layout = "~/Views/Shared/_FoxPageLayout.cshtml";
}

<h2>GetResourceRepositoryRresources</h2>

@Html.Hidden("resource-data", Model.GetJson())
<div id="timeline"></div>

 <style type="text/css">
        .captain-col {
            width: 20%;
        }

        .first-officer-col {
            width: 20%;
        }

        .first-officer-col {
            width: 20%;
        }

        .master-plan-col {
            width: 25%;
        }

        .start-date-col {
            width: 10%;
        }

        .end-date-col {
            width: 10%;
        }

        .is-scheduled-col {
            width: 5%;
        }

        .table-container {
            margin: 10px;
        }

        #timeline, #utilization-timeline {
            margin: 10px;
        }

        .tp-timeline-item {
            height: 25px !important;
            font-size: 11px !important;
        }

        .mp-color-7315, .mp-color-9606 {
            height: 40px;
            background: none !important;
            background: #a7cfdf !important; /* Old browsers */
            background: -moz-linear-gradient(top, #f6e6b4 0%, #ed9017 100%) !important; /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6e6b4), color-stop(100%,#ed9017)) !important; /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #f6e6b4 0%,#ed9017 100%) !important; /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #f6e6b4 0%,#ed9017 100%) !important; /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #f6e6b4 0%,#ed9017 100%) !important; /* IE10+ */
            background: linear-gradient(to bottom, #f6e6b4 0%,#ed9017 100%) !important; /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 ) !important; /* IE6-9 */
        }

        .mp-color-7671, .mp-color-9528 {
            height: 40px;
            background: none !important;
            background: #93cede; /* Old browsers */
            background: -moz-linear-gradient(top, #93cede 0%, #75bdd1 41%, #49a5bf 100%) !important; /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93cede), color-stop(41%,#75bdd1), color-stop(100%,#49a5bf)) !important; /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #93cede 0%,#75bdd1 41%,#49a5bf 100%) !important; /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #93cede 0%,#75bdd1 41%,#49a5bf 100%) !important; /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #93cede 0%,#75bdd1 41%,#49a5bf 100%) !important; /* IE10+ */
            background: linear-gradient(to bottom, #93cede 0%,#75bdd1 41%,#49a5bf 100%) !important; /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf',GradientType=0 ) !important; /* IE6-9 */
        }

        .mp-color-9535 {
            background: #fcfff4; /* Old browsers */
            background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%) !important; /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(40%,#dfe5d7), color-stop(100%,#b3bead)) !important; /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%) !important; /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%) !important; /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%) !important; /* IE10+ */
            background: linear-gradient(to bottom, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%) !important; /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ) !important; /* IE6-9 */
        }

        .utilizationBar {
            height: 40px;
            background: none !important;
            border: none !important;
            background-color: transparent !important;
        }

        div.beforePlanUtilization {
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            text-align: center;
            color: white;
            background: #e5e5e5;
            border-top: 2px solid gray;
            -moz-opacity: 0.50;
            opacity: 0.50;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=60);
        }

        div.afterPlanUtilization {
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            -moz-opacity: 0.60;
            opacity: 0.60;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=60);
        }
    </style>

<script src="/Scripts/ResourceSchedule/ResourceSchedule.js" type="text/javascript"></script>
    <script src="/Scripts/OptimizationCommon/OptimizationCommon.js" type="text/javascript"></script>