﻿@model FoxConcept.Models.AddAllocationIntervalLimitViewModel
@{
    ViewBag.Title = "Add New Allocation Interval Limit";
    Layout = "~/Views/Shared/_FoxFormLayout.cshtml";
}
@section scripts
{
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/FormAjax.js")" type="text/javascript"></script>
}
@section FormHeader
{
    <span>@ViewBag.Title</span>
}
<div class="container">
    @using (Html.BeginForm("EditAllocationIntervalLimit", "SchedulingRules", FormMethod.Post, null))
    {
        <fieldset>
            <legend>General Details</legend>

            @Html.HiddenFor(m => m.GeneralDetails.RuleType)
            @Html.HiddenFor(m => m.GeneralDetails.ID)
            @Html.HiddenFor(m => m.GeneralDetails.RuleID)
            @Html.HiddenFor(m => m.GeneralDetails.CreationDate)
            @Html.HiddenFor(m => m.GeneralDetails.RuleTypeID)
            @Html.HiddenFor(m => m.GeneralDetails.ExternalID)
            <div class="span10">
                @Html.LabelFor(m => m.GeneralDetails.Title, new { @class = "span2" })
                @Html.TextBoxFor(m => m.GeneralDetails.Title, new { @class = "x-large" })
                @Html.ValidationMessageFor(m => m.GeneralDetails.Title)
            </div>

            <div class="span10">
                @Html.LabelFor(m => m.GeneralDetails.Description, new { @class = "span2" })
                @Html.TextAreaFor(m => m.GeneralDetails.Description, new { @class = "x-large" })
                @Html.ValidationMessageFor(m => m.GeneralDetails.Description)
            </div>

            <div class="span10">
                <label for="GeneralDetails_AppliesToMDTypeID" class="span2">Applies To</label>
                <select id="GeneralDetails_AppliesToMDTypeID" name="GeneralDetails.AppliesToMDTypeID" class="x-large">

                    <optgroup label="User Types">
                        @foreach (var item in Model.AvailableUserType)
                        {
                            <option value="@item.Key">@item.Value</option>
                        }
                    </optgroup>


                    <optgroup label="Human Resource Types">
                        @foreach (var item in Model.AvailableHumanResourceType)
                        {
                            <option value="@item.Key">@item.Value</option>
                        }
                    </optgroup>


                    <optgroup label="Physical Resource Types">
                        @foreach (var item in Model.AvailablePhysicalResourceType)
                        {
                            <option value="@item.Key">@item.Value</option>
                        }
                    </optgroup>

                </select>
            </div>

            <div class="span10">
                <label for="GeneralDetails_ConstraintTypeID" class="span2">Constraint Type</label>
                <select id="GeneralDetails_ConstraintTypeID" name="GeneralDetails.ConstraintTypeID" class="x-large">
                    <option value="NormalConstraint">Warning</option>
                    <option value="HardConstraint">Hard Constraint</option>
                </select>
            </div>
            <div class="span10">
                @Html.LabelFor(m => m.GeneralDetails.Priority, new { @class = "span2" })
                @Html.TextBoxFor(m => m.GeneralDetails.Priority, new { @class = "small" })
                @Html.ValidationMessageFor(m => m.GeneralDetails.Priority)
            </div>
            <div class="span10">
                @Html.CheckBoxFor(m => m.GeneralDetails.Optional) Optional
                @Html.ValidationMessageFor(m => m.GeneralDetails.Optional)
            </div>
        </fieldset>
	
        <fieldset>
            <legend>Rule Information</legend>

            <div class="span10">
                @Html.LabelFor(m => m.RuleDetails.ActivityTypeIDFrom, new { @class = "span2" })
                @Html.DropDownListFor(m => m.RuleDetails.ActivityTypeIDFrom, new SelectList(Model.AvailableActivityTypes, "Key", "Value", -1), new { @class = "x-large" })
                @Html.ValidationMessageFor(m => m.RuleDetails.ActivityTypeIDFrom)
            </div>

            <div class="span10">
                @Html.LabelFor(m => m.RuleDetails.ActivityTypeIDTo, new { @class = "span2" })
                @Html.DropDownListFor(m => m.RuleDetails.ActivityTypeIDTo, new SelectList(Model.AvailableActivityTypes, "Key", "Value", -1), new { @class = "x-large" })
                @Html.ValidationMessageFor(m => m.RuleDetails.ActivityTypeIDTo)
            </div>

            <div class="span10">
                @Html.LabelFor(m => m.RuleDetails.ExcludeTypeID, new { @class = "span2" })
                @Html.DropDownListFor(m => m.RuleDetails.ExcludeTypeID, new SelectList(Model.AvailableActivityTypes, "Key", "Value", -2), new { @class = "x-large" })
                @Html.ValidationMessageFor(m => m.RuleDetails.ExcludeTypeID)
            </div>

            <div class="span10">
                @Html.LabelFor(m => m.RuleDetails.ExcludeThresholdInMinutes, new { @class = "span2" })
                @Html.TextBoxFor(m => m.RuleDetails.ExcludeThresholdInMinutes, new { @class = "x-large" })
                @Html.ValidationMessageFor(m => m.RuleDetails.ExcludeThresholdInMinutes)
            </div>

            <div class="span10">
                @Html.LabelFor(m => m.RuleDetails.ValueInMinutes, new { @class = "span2" })
                @Html.TextBoxFor(m => m.RuleDetails.ValueInMinutes, new { @class = "x-large" })
                @Html.ValidationMessageFor(m => m.RuleDetails.ValueInMinutes)
            </div>

        </fieldset>
    }

</div>
@section FormFooter
{
        <a href="javascript:window.close()">
        <img alt="Close" src="/Content/Images/FoxClose.gif" />
        Close</a>
    <a href="#" id="FormSubmit">Save</a>
    <div id="progressSpan" class="Progress" data-success="@Url.Content("~/Content/Succeeded.gif")" style="display: none;">
        <span id="progressText"></span>
        <img id="progressImg" alt="" src="@Url.Content("~/Content/InProcess.gif")">
    </div>
    @*<a href="#"  onclick="document.forms[0].submit()">Save</a>*@

    @if (ViewData["NewRecord"] == "True")
    {
        <p>The item was successfuly added</p>
    }
}


