﻿@model FoxConcept.Models.AddWorkloadLimitViewModel
@{
    ViewBag.Title = "AddWorkloadLimit";
    Layout = "~/Views/Shared/_FoxFormLayout.cshtml";
}
@section scripts
{
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/FormAjax.js")" type="text/javascript"></script>
}
@section FormHeader
{
    <span>@ViewBag.Title</span>
}
<div class="container">
    @using (Html.BeginForm("EditWorkloadLimit", "SchedulingRules", FormMethod.Post, null))
    {
        @Html.HiddenFor(m => m.GeneralDetails.RuleType)
        @Html.HiddenFor(m => m.GeneralDetails.ID)
        @Html.HiddenFor(m => m.GeneralDetails.RuleID)
        @Html.HiddenFor(m => m.GeneralDetails.CreationDate)
        @Html.HiddenFor(m => m.GeneralDetails.RuleTypeID)
        @Html.HiddenFor(m => m.GeneralDetails.ExternalID)
          <fieldset>
         <legend>General Details</legend>
         <div class="span10">
             @Html.LabelFor(m => m.GeneralDetails.Title, new { @class = "span2" })
             @Html.TextBoxFor(m => m.GeneralDetails.Title, new { @class="x-large"})
             @Html.ValidationMessageFor(m => m.GeneralDetails.Title)
         </div>
	
         <div class="span10">
             @Html.LabelFor(m => m.GeneralDetails.Description, new { @class = "span2" })
             @Html.TextAreaFor(m => m.GeneralDetails.Description, new { @class = "x-large" })
             @Html.ValidationMessageFor(m => m.GeneralDetails.Description)
         </div>
	
         <div class="span10">
             <label for="GeneralDetails_AppliesToMDTypeID" class="span2">Applies To</label>
             <select id="GeneralDetails_AppliesToMDTypeID" name="GeneralDetails.AppliesToMDTypeID" class="x-large">
				
                 <optgroup label="User Types">
                     @foreach (var item in Model.AvailableUserType)
                     {
                         <option value="@item.Key">@item.Value</option>
                     }
                 </optgroup>


                 <optgroup label="Human Resource Types">
                     @foreach (var item in Model.AvailableHumanResourceType)
                     {
                         <option value="@item.Key">@item.Value</option>
                     }
                 </optgroup>


                 <optgroup label="Physical Resource Types">
                     @foreach (var item in Model.AvailablePhysicalResourceType)
                     {
                         <option value="@item.Key">@item.Value</option>
                     }
                 </optgroup>

             </select>
         </div>
	
         <div class="span10">
             <label for="GeneralDetails_ConstraintTypeID" class="span2">Constraint Type</label>
             <select id="GeneralDetails_ConstraintTypeID" name="GeneralDetails.ConstraintTypeID" class="x-large">
                 <option value="NormalConstraint">Warning</option>
                 <option value="HardConstraint">Hard Constraint</option>
             </select>
         </div>
         <div class="span10">
             @Html.CheckBoxFor(m => m.GeneralDetails.Optional) Optional
             @Html.ValidationMessageFor(m => m.GeneralDetails.Optional)
            </div>
     </fieldset>
    
    <fieldset>
            <legend>Rule Information</legend>

            <div class="span10">
                @Html.LabelFor(m => m.RuleDetails.TimeSpanInDays, new { @class = "span2" })
                @Html.TextBoxFor(m => m.RuleDetails.TimeSpanInDays, new { @class = "x-large" })
                @Html.ValidationMessageFor(m => m.RuleDetails.TimeSpanInDays)
            </div>
            
            <div class="span10">
                @Html.LabelFor(m => m.RuleDetails.AllowdWorkloadInDays, new { @class = "span2" })
                @Html.TextBoxFor(m => m.RuleDetails.AllowdWorkloadInDays, new { @class = "x-large" })
                @Html.ValidationMessageFor(m => m.RuleDetails.AllowdWorkloadInDays)
            </div>
        </fieldset>
    }
</div>
@section FormFooter
{
        <a href="javascript:window.close()">
        <img alt="Close" src="/Content/Images/FoxClose.gif" />
        Close</a>
    <a href="#" id="FormSubmit">Save</a>
    <div id="progressSpan" class="Progress" data-success="@Url.Content("~/Content/Succeeded.gif")" style="display: none;">
        <span id="progressText"></span>
        <img id="progressImg" alt="" src="@Url.Content("~/Content/InProcess.gif")">
    </div>
    @*<a href="#"  onclick="document.forms[0].submit()">Save</a>*@

    @if (ViewData["NewRecord"] == "True")
    {
        <p>The item was successfuly added</p>
    }
}

