﻿@model FoxConcept.Models.SchedulingRulesViewModel
@{
    Layout = "~/Views/Shared/_FoxPageLayout.cshtml";
    ViewBag.Title = "Scheduling Rules";
}
@section Header
{
    <link href="/Content/dropit.css" rel="stylesheet" type="text/css" />
}
<div id="SchedulingRulesTable" class="container ">
    <div class="TableHeader">
        <span>Scheduling Rules</span>
        <ul class="menu dropit pull-right">
            <li><a>
                <button href="#">
                    Add</button></a>
                <ul>
                    <li><a data-new-window="true" data-new-window-height="600" data-new-window-width="700" href="/SchedulingRules/AddAllocationTimeLimit">Allocation Time Limit</a></li>
                    <li><a data-new-window="true" data-new-window-height="600" data-new-window-width="700" href="/SchedulingRules/AddReschedulingLimit">Rescheduling Limit</a></li>
                    <li><a data-new-window="true" data-new-window-height="600" data-new-window-width="700" href="/SchedulingRules/AddAllocationIntervalLimit">Allocation Inteval Limit</a></li>
                    <li><a data-new-window="true" data-new-window-height="600" data-new-window-width="700" href="/SchedulingRules/AddWorkloadLimit">Workload Limit</a></li>
                    <li><a data-new-window="true" data-new-window-height="600" data-new-window-width="700" href="/SchedulingRules/AddDaysOffRule">Days Off Rule</a></li>
                    <li><a data-new-window="true" data-new-window-height="600" data-new-window-width="700" href="/SchedulingRules/AddAllocationTimeLimit">Minimum time between events</a></li>
                    <li><a data-new-window="true" data-new-window-height="600" data-new-window-width="700" href="/SchedulingRules/AddAllocationTimeLimit">Minimum RDO per day</a></li>
                    <li><a data-new-window="true" data-new-window-height="600" data-new-window-width="700" href="/SchedulingRules/AddAllocationTimeLimit">Maximum training days</a></li>
                    <li><a data-new-window="true" data-new-window-height="600" data-new-window-width="700" href="/SchedulingRules/AddAllocationTimeLimit">Start day and time pattern</a></li>
                    <li><a data-new-window="true" data-new-window-height="600" data-new-window-width="700" href="/SchedulingRules/AddAllocationTimeLimit">Last day and time pattern</a></li>
                    <li><a data-new-window="true" data-new-window-height="600" data-new-window-width="700" href="/SchedulingRules/AddAllocationTimeLimit">Minimum time between events</a></li>
                    <li><a data-new-window="true" data-new-window-height="600" data-new-window-width="700" href="/SchedulingRules/AddAllocationTimeLimit">Minimum time between events</a></li>
                    <li><a data-new-window="true" data-new-window-height="600" data-new-window-width="700" href="/SchedulingRules/AddAllocationTimeLimit">X days off after X days of training</a></li>
                    <li><a data-new-window="true" data-new-window-height="600" data-new-window-width="700" href="/SchedulingRules/AddAllocationTimeLimit">Maximum training hours per day</a></li>
                    <li><a data-new-window="true" data-new-window-height="600" data-new-window-width="700" href="/SchedulingRules/AddAllocationTimeLimit">Maximum training program total duration</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="container scrollable height90">


    <table>
        <thead>
            <tr  style="height:30px;">
                <th width="2%">&nbsp;</th>
                <th width="15%">Title</th>
                <th width="20%">Description</th>
                <th width="10%">Applies to</th>
                <th width="10%">Type</th>
                <th width="10%">Constraint Type</th>
@*                <th width="10%">Priority</th>*@
                <th width="10%">Optional</th>
                <th width="20%">Creation Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rule in Model.SchedulingRules)
            {
                <tr>
                    <td>@Html.ActionSchedulingRuleDetails(rule.RuleType,rule.RuleID)</td>
                    <td>@rule.Title</td>
                    <td>@rule.Description</td>
                    <td>@rule.AppliesToMDTypeName</td>
                    <td>@rule.RuleType.GetDescription()</td>
                    <td>@rule.ConstraintType.GetDescription()</td>
                    @*<td>@rule.Priority</td>*@
                    <td>@{ string optional = rule.Optional ? "Yes" : "no"; } @optional</td>
                    <td>@rule.CreationDate</td>
                </tr>
            }
        </tbody>

    </table>
</div>
@section Footer
{
    <script src="/Scripts/Dropit/dropit.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.menu').dropit();
            

        });
    </script>
}
