﻿@using FoxConcept.Models.ViewModels.CostSettings
@{
    ViewBag.Title = ViewBag.Title;
    Layout = "~/Views/Shared/_FoxPageLayout.cshtml";
}
@section Header
{
    <link href="/Content/dropit.css" rel="stylesheet" type="text/css" />
}

<div id="CostSettingsTable" class="container ">
    <div class="TableHeader">
        <span>Costs Settings</span>
        <ul class="menu dropit pull-right">
            <li>
                @RenderSection("AddButton", false)
            </li>
        </ul>
       
    </div>
</div>

<div class="LeftPanel">
    <table class="listTable">
        <thead>
            <tr>
                <th width="2%">&nbsp;</th>
                <th width="98%">Category</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>&nbsp;</td>
                <td>@Html.NavigationTab(@Url.Action("GetParticipantsCosts","CostSettings"),"Participant Costs", null)</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>@Html.NavigationTab(@Url.Action("GetHumanResourcesCosts","CostSettings"),"Human Resources Costs", null)</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>@Html.NavigationTab(@Url.Action("GetPhysicalResourcesCosts","CostSettings"),"Physical Resources Costs", null)</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>@Html.NavigationTab(@Url.Action("GetCostTypes","CostSettings"),"Additional Costs", null)</td>
            </tr>
            @*<tr>
                <td>&nbsp;</td>
                <td>@Html.ActionLink("Scheduling Rules Types", "GetCosts", "CostSettings", new { @EntityType = eEntityType.Activity }, null)</td>
            </tr>*@
        </tbody>
    </table>
</div>
<div class="RightPanel">
    @RenderBody()
</div>
@RenderSection("Footer", false)