﻿<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	<link href="/Content/Fox.css" rel="stylesheet" type="text/css" />
	<link href="/Content/themes/Aristo/Aristo.css" rel="stylesheet" type="text/css" />
	<link href="/Content/timeline.css" rel="stylesheet" type="text/css" />
	<link href="/Content/timeline-theme.css" rel="stylesheet" type="text/css" />
	<link href="/Scripts/jqTips/jquery.qtip.min.css" rel="stylesheet" type="text/css" />

	<script src="/Scripts/Common/jquery-1.10.2.min.js" type="text/javascript"></script>
	<script src="/Scripts/Common/jquery-ui-1.10.3.min.js" type="text/javascript"></script>
	<script src="/Scripts/Common/Common.js" type="text/javascript"></script>
	<script src="/Scripts/Common/jquery.stickytableheaders.min.js" type="text/javascript"></script>
	<script src="/Scripts/Common/timeline.js" type="text/javascript"></script>
	<script src="/Scripts/Common/google.jsapi.js" type="text/javascript"></script>
	<script src="/Scripts/Common/google.visualization.js" type="text/javascript"></script>
	<script src="/Scripts/jqTips/jquery.qtip.min.js" type="text/javascript"></script>
	<script src="/Scripts/Common/jquery.formatCurrency-1.4.0.js" type="text/javascript"></script>
    
    @RenderSection("scripts",false)

</head>
<body>
	<div class="FormHeader">
	<img src="/Content/Images/ic_BKS.gif" alt="@ViewBag.Title" />
		@RenderSection("FormHeader", false)
	</div>
	
	<div class="stretched-to-margin FormBody">
	@RenderBody()
	</div>

	<div class="FormFooter">
		@RenderSection("FormFooter", false)
	</div>
</body>
</html>
