﻿<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	<link href="/Content/Fox.css" rel="stylesheet" type="text/css" />
	<link href="/Content/themes/Aristo/Aristo.css" rel="stylesheet" type="text/css" />
	<link href="/Content/timeline.css" rel="stylesheet" type="text/css" />
	<link href="/Content/timeline-theme.css" rel="stylesheet" type="text/css" />
	<link href="/Scripts/jqTips/jquery.qtip.min.css" rel="stylesheet" type="text/css" />

	<script src="/Scripts/Common/jquery-2.0.2.min.js" type="text/javascript"></script>
	<script src="/Scripts/Common/jquery-ui-1.10.3.min.js" type="text/javascript"></script>
	<script src="/Scripts/Common/Common.js" type="text/javascript"></script>
	<script src="/Scripts/Common/jquery.stickytableheaders.min.js" type="text/javascript"></script>
	<script src="/Scripts/Common/timeline.js" type="text/javascript"></script>
	<script src="/Scripts/Common/google.jsapi.js" type="text/javascript"></script>
	<script src="/Scripts/Common/google.visualization.js" type="text/javascript"></script>
	<script src="/Scripts/jqTips/jquery.qtip.min.js" type="text/javascript"></script>
	<script src="/Scripts/Common/jquery.formatCurrency-1.4.0.js" type="text/javascript"></script>
	
	@RenderSection("Header", false)

</head>
<body>

	<div class="stretched-to-margin">
	@RenderBody()
	</div>

	@RenderSection("Footer", false)
</body>
</html>
