﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
	
	<script src="/Scripts/jquery-2.0.2.min.js" type="text/javascript"></script>
	<script src="/Scripts/jquery-ui-1.10.3.min.js" type="text/javascript"></script>
	<script src="../../Scripts/Common/jquery.floatThead.min.js" type="text/javascript"></script>
</head>

<body>
    @RenderBody()
</body>
</html>
