/*
 * Dropit v1.1.0
 * http://dev7studios.com/dropit
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* These styles assume you are using ul and li */
.dropit
{
	list-style: none;
	padding: 0;
	margin: 0;
}
.dropit .dropit-trigger
{
	position: relative;
}
.dropit .dropit-submenu
{
	position: absolute;
	top: 100%;
	right: 0;  /*dropdown left or right */
	z-index: 1000;
	display: none;
	min-width: 200px;
	list-style: none;
	padding: 0;
	margin: 0;
}

.dropit .dropit-submenu-left
{
	position: absolute;
	top: 100%;
	left: 0;  /*dropdown left or right */
	z-index: 1000;
	display: none;
	min-width: 200px;
	list-style: none;
	padding: 0;
	margin: 0;
}


.dropit .dropit-open .dropit-submenu
{
	display: block;
}


.menu ul
{
	display: none;
}
/* Hide before plugin loads */
.menu ul.dropit-submenu
{
	background-color: #fff;
	border: 1px solid #b2b2b2;
	padding: 6px 0;
	margin: 3px 0 0 1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
	box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
}
.menu ul.dropit-submenu a
{
	display: block;
	font-family: Arial;
	font-size: 12px;
	font-weight:normal;
	color: #333;
	text-decoration: none;
	line-height: 25px;
	
	padding: 0 18px;
}
.menu ul.dropit-submenu a:hover
{
	background: #EFEFEF;
	color: #fff;
	text-decoration: none;
}
