﻿body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family: Arial;
    font-size: 12px;
    color: #333;
    padding-bottom: 50px; /*To consider the footer*/
}

.stretched-to-margin {
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
}



a:link {
    color: #3C7DC4;
    text-decoration: underline;
}

a:visited {
    color: #3C7DC4;
}

a:hover {
    color: #FFA737;
    text-decoration: none;
}

a:active {
    color: #3C7DC4;
}

th a:link, th a:visited, th a:hover, th a:active {
    color: Black;
    text-decoration: none;
    cursor: pointer;
}


.container {
    margin: 5px;
}

.radious4 {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.light-border {
    border: 1px solid #D9D9D9;
}

.span1, .span2, .span3, .span4 .span5, .span6, .span7, .span8, .span9, .span10 {
    float: left;
    padding: 0px;
    margin: 2px 0 2px 0;
}

.span1 {
    width: 10%;
    float: left;
}

.span2 {
    width: 20%;
    float: left;
}

.span3 {
    width: 30%;
    float: left;
}

.span4 {
    width: 40%;
    float: left;
}

.span5 {
    width: 50%;
    float: left;
}

.span6 {
    width: 60%;
    float: left;
}

.span7 {
    width: 70%;
    float: left;
}

.span8 {
    width: 80%;
    float: left;
}

.span9 {
    width: 90%;
    float: left;
}

.span10 {
    width: 98%;
    float: left;
}

.span1-static {
    width: 100px;
    float: left;
}

.span2-static {
    width: 200px;
    float: left;
}

.span3-static {
    width: 300px;
    float: left;
}

.span4-static {
    width: 400px;
    float: left;
}

.span5-static {
    width: 500px;
    float: left;
}

.span6-static {
    width: 600px;
    float: left;
}

.span7-static {
    width: 700px;
    float: left;
}

.span8-static {
    width: 800px;
    float: left;
}

.span9-static {
    width: 900px;
    float: left;
}

.span10-static {
    width: 1000px;
    float: left;
}


.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.marg-top10 {
    margin-top: 10px;
}

.inline {
    display: inline-block;
    width: 100%;
}


.FormHeader {
    background-image: url('/Content/Images/bg_FoxFormHeader.jpg');
    position: fixed;
    top: 0px;
    z-index: 100;
    width: 100%;
    height: 26px;
    line-height: 26px;
    font-weight: normal;
    font-size: 12px;
}

    .FormHeader img {
        vertical-align: top;
    }

.FormBody {
    margin-top: 26px;
    margin-bottom: 55px;
    overflow: auto;
}

.FormFooter {
    background-image: url('/Content/Images/bg_FoxFormHeader.jpg');
    width: 100%;
    height: 29px;
    padding: 0px;
    margin: 0px;
    position: fixed;
    bottom: 20px;
    z-index: 100;
}

    .FormFooter button, .FormFooter a {
        border: none;
        cursor: pointer;
        color: #FFFFFF;
        background-image: url('/Content/Images/bg_FormFooterButton_Normal.gif');
        height: 24px;
        line-height: 24px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
        overflow: hidden;
        float: right;
        display: block;
        text-decoration: none;
        border-left: 1px solid #AFB8BE;
    }

        .FormFooter button img, .FormFooter a img {
            padding-left: 2px;
            padding-right: 2px;
        }


        .FormFooter button:hover, .FormFooter a:hover {
            background-image: url('/Content/Images/bg_FormFooterButton_Hover.gif');
        }

        .FormFooter button:active, .FormFooter a:active {
            background-image: url('/Content/Images/bg_FormFooterButton_Active.gif');
        }

        .FormFooter button img, .FormFooter a img {
            height: auto;
            border: none;
        }

table {
    width: 100%;
}

    table, table tr td, table tr th {
        color: #333333;
        border: 1px solid #D9D9D9;
        border-collapse: collapse;
        padding: 4px;
    }


        table tr th {
            background: #B8BFC5;
            text-align: left;
        }

tr.table-sub-header td {
    background: #D5D9DD;
    text-align: left;
    font-weight: bold;
}

table tr.sub-header th {
    background: #CED5DB;
    text-align: left;
}

table tr:nth-child(even) {
    background: #FBFBFB;
}

table tr:nth-child(odd) {
    background: #FFFFFF;
}

.MultipleActionBar {
    background-color: #FFEE9C;
    border: 1px solid gray;
    height: 23px;
    line-height: 23px;
    font-weight: bold;
    padding-left: 10px;
    display: none;
}

.TableHeader {
    background-image: url('/Content/Images/bg_TableHeader.gif');
    height: 23px;
    line-height: 23px;
    border: 1px solid #D9D9D9;
    /*border-bottom: none;*/
    padding-left: 4px;
    font-weight: bold;
    clear: both;
}


button, input[type='submit'], a.button {
    padding-left: 9px;
    padding-right: 9px;
    border: 1px solid #CCCCCC;
    background: url('/Content/Images/bg_Button_Normal.png');
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 12px;
    height: 20px;
    line-height: 17px;
    vertical-align: middle;
    margin-top: 2px;
    cursor: pointer;
}

.TableHeader button:hover {
    background: url('/Content/Images/bg_Button_Hover.png');
    border: 1px solid #F1CE51;
}


select {
    width: 100%;
    border: 1px solid silver;
}

input {
    width: 100%;
    border: 1px solid silver;
}

    input[type=checkbox] {
        width: auto;
        border: none;
    }

    input[type=date-picker].medium {
        width: 120px;
    }

    input.tiny, select.tiny {
        width: 30px;
        height: 20px;
    }

    input.small, select.small {
        width: 80px;
        height: 20px;
    }

    input.medium, select.medium {
        width: 160px;
        height: 20px;
    }

    input.large, select.large {
        width: 240px;
        height: 20px;
    }

    input.x-large {
        width: 313px;
        height: 20px;
    }

select.x-large {
    width: 315px;
    height: 24px;
}

textarea.x-large {
    width: 309px;
    font-family: "Arial";
    border: 1px solid silver;
}


input.block, select.block {
    width: 100%;
}

input[disabled] {
    background: #e5e5e5;
}

.hidden {
    display: none;
}

.ui-datepicker-trigger {
    vertical-align: top;
}

.text-info {
    color: #428bca;
}

.text-muted {
    color: #a5a5a5;
}

.bold {
    font-weight: bold;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.label-primary {
    background-color: #428bca;
}

fieldset {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #D9D9D9;
    margin: 10px;
}

    fieldset legend {
        font-weight: bold;
        margin-bottom: 10px;
    }

    fieldset div {
        margin-bottom: 5px;
    }

.bks-tooltip {
    max-width: 1000px !important;
}

.scrollable {
    overflow: auto;
    overflow-x: hidden;
}

.height80 {
    height: 80%;
}

.height90 {
    height: 90%;
    min-height: 350px;
}

.height100 {
    height: 100%;
}

.img-button {
    cursor: pointer;
}

label {
    line-height: 2em;
}

.LeftPanel {
    width: 20%;
    min-width: 100px;
    float: left;
}

.RightPanel {
    width: auto;
    min-width: 400px;
}

.listTable tr td a {
    color: black !important;
    text-decoration: none;
}

    .listTable tr td a:hover {
        text-decoration: underline;
    }



.listTable tr {
    height: 30px;
}

.active {
    font-weight: bold;
}

.header {
    font-weight: bold;
    display: table-row;
}

    .header td {
        background-color: #e5e5e5;
        min-height: 40px;
    }

.pointer {
    cursor: pointer;
}

.Progress {
    display: inline;
    float: right;
    margin-top: 5px;
    margin-right: 3px;
}

.field-validation-error {
    color: red;
}

.formlabel {
    font-weight: bold;
}

.formParag {
    display: inline;
    line-height: 2em;
}


.width-30 {
    width: 30px !important;
}

.width-60 {
    width: 60px !important;
}

.width-70 {
    width: 70px;
}

.width-80 {
    width: 80px;
}

.FiltersPanel {
    width: 19%;
    padding-left: 10px;
}

.ContentPanel {
    width: 80%;
}

.yellowBar {
    height: 35px;
    min-width: 300px;
    width: 100%;
    background-color: #FFEE9C;
    position: fixed;
    bottom: 10px;
    width: 100%;
    visibility: hidden;
}

    .yellowBar a:link {
        position: relative;
        top: 10px;
        left: 10px;
    }

.radio-left {
    float: left;
    margin-right: 10px;
    margin-top: 0;
}


.blue {
    color: #669CDA;
}

.regularLink {
    background-image: none !important;
    border: none !important;
    color: blue;
    width: 40px !important;
    margin-top: 5px !important;
}

.regularLink:hover {
    text-decoration: underline;
}
