body
{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family: Arial;
    font-size: 12px;
}



a:link
{
    color: #3C7DC4;
    text-decoration: underline;
}
a:visited
{
    color: #3C7DC4;
}
a:hover
{
    color: #FFA737;
    text-decoration: none;
}
a:active
{
    color: #3C7DC4;
}

p, ul
{
    margin-bottom: 20px;
    line-height: 1.6em;
}

pre
{
	/*font-size:1.25em;*/
	background-color: #EFEFEF;
	padding:.25em;
	border:dashed 1px #CCC;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    padding: 0 0 10px 0;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* Tables
--------*/
table
{
	border-collapse: collapse;
	border-spacing: 0;
}

th
{
    background-color:#585858;
    min-width:3em;
}

th,td
{
    padding:.2em .5em;
}

th
{
    border:1px solid #585858;
    color:White;
}

td
{
    border:1px solid #585858;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#header
{
    position: relative;
    margin-bottom: 0px;
    padding: 0;
    height:53px;
    border-bottom:solid 1px #3C7DC4;
}

#main
{
    padding: 5px 0 15px 0;
    background-color: #fff;
    margin-top:2em;
    margin-bottom: 30px;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscrore */
}

#footer
{
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 1em 0 0 0;
    font-size: .9em;
    border-top:solid 1px #CCC;
}

/* form elements
------------------*/

form fieldset
{
    margin:1em 0;
    padding:1em;
    border:1px solid #CCC;
}

form label
{
    display: block;
    float: left;
    width: 5em;
    margin-bottom:.5em;
}

form input[type=text], form input[type=password], form textarea
{
    display: block;
    margin: 0 0 .5em;
    color:#333;
    border:1px solid #CCC;
    font-family:Arial,Helvetica,sans-serif;
    font-size:1em;
}

form textarea
{
    width: 90%;
    height:16em;
}

form input[type=text], form input[type=password]
{
    width: 15em;
}

form optgroup
{
    color:#F90;
    font-style:normal;
    font-size:1.1em;
    background-color:#333;
}

form option
{
    color:#333;
    background-color:#F7FBFF;
    padding:.1em .3em;
}

form input[type=checkbox], form input[type=radio]
{
    display:block;
    clear:both;
    float:left;
    margin:.1em .5em 0 0;
    height:1em;
    width:1em;
    color:#333;
}

form input[type=checkbox]
{
    background-color:#F7FBFF;
    border:1px solid #333;
}

form input[type=text]:focus, form input[type=password]:focus, form input[type=checkbox]:focus, form input[type=radio]:focus form textarea:focus
{
    background-color:#F7FBFF;
    border:1px solid #F90;
}

form input[type=button], form input[type=submit], input[type=reset], form button
{
    padding:.15em;
    font-size: .9em;
}

form table input[type=text], form table input[type=password], form table textarea
{
    float:none;
    margin:0;
}

form table label
{
    width:auto;
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color:Red;
}

#title
{
    display:block;
    float:left;
    text-align:left;
}

#menu
{
	padding-top:2.5em;
	float:right;
}

#wikiHistory
{
	float: right;
	margin-top:1em;
	width:13%;
	padding-left:.5em;
	border:solid 1px #CCC;
}

#wikiHistory h3
{
	font-size:1em;
	margin-top:.5em;
	margin-bottom:0;
}

#wikiHistory ul
{
	margin-top:0;
	margin-bottom:.5em;
	list-style-type:none;
}

#wikiHistory ul li
{
	margin-left:-4.25em;
	font-size:.75em;
}

#wikiContent
{
	float:left;
	margin-top:-1em;
	width:85%;
}

.editWiki
{
	text-align:right;
	border-top:solid 1px #CCC;
	padding-top:.25em;
}

.editWiki a
{
	background-color:#CCC;
	padding: .25em 2em .40em 2em;
	color:White;
}

.editWiki a:hover
{
	color: #585858;
}

.editWikiForm
{
	display:none;
}

.editWikiForm fieldset
{
	background-color:#FFF;
	margin-top:0;
}

.editWikiForm form textarea
{
	width:98%;
}

.editWikiNotLatest
{
	color:Red;
}

.field-validation-error
{
    color: #ff0000;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

/* Dialog
------------*/
.ui-dialog-titlebar
{
	display:none;
}