﻿@model FoxConcept.Models.ViewModels.BiddingRequests.BiddingRequestViewModel
@{
    ViewBag.Title = "Review Request";
    Layout = "~/Views/Shared/_FoxFormLayout.cshtml";
}

@section scripts
{
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/FormAjax.js")" type="text/javascript"></script>
}
@section FormHeader
{
    <span>@ViewBag.Title</span>
    @*<link href="/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
    <link href="/Content/datepicker3.css" rel="stylesheet" type="text/css" />
}



<div class="container">
    @using (Html.BeginForm("ApproveBiddingRequest", "BiddingRequests", FormMethod.Post, null))
    {
        <fieldset>
            @*<legend>@Model.InstructorName Bidding request</legend>
            @Html.HiddenFor(m => m.ID)*@
            <legend>Request Details</legend>

            <div class="span10">
                @Html.LabelFor(m => m.InstructorName, new { @class = "formlabel span2" })
                <p class="formParag">@Model.InstructorName</p>
            </div>
            <div class="span10">
                @Html.LabelFor(m => m.BiddingPeriodID, new { @class = "formlabel span2" })
                <p class="formParag">@Model.BiddingPeriod.BiddingPeriodString</p>
            </div>
            <div class="span10">
                @Html.LabelFor(m => m.BiddingRule, new { @class = "formlabel span2" })
                <p class="formParag">@Model.BiddingRule.Name</p>
            </div>
            <div class="span10">
                @Html.LabelFor(m => m.Priority, new { @class = "formlabel span2" })
                <p class="formParag">@Model.Priority</p>
            </div>
            <div class="span10">
                @Html.LabelFor(m => m.StartDate, new { @class = "formlabel span2" })
                <p class="formParag">@Model.StartDate.ToString("MM/dd/yyyy")</p>
            </div>
            <div class="span10">
                @Html.LabelFor(m => m.EndDate, new { @class = "formlabel span2" })
                <p class="formParag">
                    @{
                        var enddate = Model.EndDate != null ? ((DateTime)Model.EndDate).ToString("MM/dd/yyyy") : String.Empty;
                    }@enddate
                </p>
            </div>
            <div class="span10">
                @Html.LabelFor(m => m.RequestsLeft, new { @class = "formlabel span2" })
                <p class="formParag">@Model.RequestsLeft</p>
            </div>
            <div class="span10">
                @Html.LabelFor(m => m.Comments, new { @class = "formlabel span2" })
                <p class="formParag">@Model.Comments</p>
            </div>
        </fieldset>
    }
    @using (Html.BeginForm("ApproveBiddingRequest", "BiddingRequests", FormMethod.Post, null))
    {
        <fieldset>
            <legend>Request Status</legend>
            <div class="span10">
                @Html.LabelFor(m => m.Status, new { @class = "formlabel span2" })
                @Html.DropDownListFor(model => model.Status, SelectListItemsForHelper.SelectListItemsFor(Model.Status), new { @class = "x-large" })
                @Html.ValidationMessageFor(m => m.Status)
            </div>
        </fieldset>
    }

</div>
@section FormFooter
{
    <a href="javascript:window.close()">
        <img alt="Close" src="/Content/Images/FoxClose.gif" />
        Close</a>
    <a href="#" id="FormSubmit">Save</a>
    <div id="progressSpan" class="Progress" data-success="@Url.Content("~/Content/Succeeded.gif")" style="display: none;">
        <span id="progressText"></span>
        <img id="progressImg" alt="" src="@Url.Content("~/Content/InProcess.gif")">
    </div>
    @*<a href="#"  onclick="document.forms[0].submit()">Save</a>*@


}

<script type="text/javascript">
    $(function () {
        $('.datepicker').datepicker({
            format: "dd/mm/yyyy",
            todayBtn: true,
            clearBtn: true
        });
    });
</script>
