﻿@model FoxConcept.Models.ViewModels.BiddingRequests.BiddingRequestViewModel
@{
    ViewBag.Title = "Edit Bidding Request - " + Model.BiddingRule.Name;
    Layout = "~/Views/Shared/_FoxFormLayout.cshtml";
}
@section scripts
{
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/FormAjax.js")" type="text/javascript"></script>
}
@section FormHeader
{
    <span>@ViewBag.Title</span>
    @*<link href="/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
    <link href="/Content/datepicker3.css" rel="stylesheet" type="text/css" />
}

<div class="container">
    @using (Html.BeginForm("EditBiddingRequest", "BiddingRequests", FormMethod.Post, null))
    {
        <fieldset>
            <legend>Request Details</legend>
            @Html.HiddenFor(m => m.InstructorID)
            @Html.HiddenFor(m => m.BiddingRuleID)
            @Html.HiddenFor(m => m.ID)

            <div class="span10">
                @Html.LabelFor(m => m.BiddingPeriodID, new { @class = "span2" })
                @Html.DropDownListFor(m => m.BiddingPeriodID, new SelectList(Model.BiddingPeriods, "ID", "BiddingPeriodString"), new { @class = "x-large" })
                @Html.ValidationMessageFor(m => m.BiddingPeriodID)
            </div>

            <div class="span10">
                @Html.LabelFor(m => m.StartDate, new { @class = "span2" })
                @Html.TextBoxFor(m => m.StartDate, new { @class = "x-large datepicker", @Value = (Model.StartDate).ToString("MM/dd/yyyy") })
                @Html.ValidationMessageFor(m => m.StartDate)
            </div>

            <div class="span10">
                @Html.LabelFor(m => m.EndDate, new { @class = "span2" })
                @Html.TextBoxFor(m => m.EndDate, new { @class = "x-large datepicker", @Value = ((DateTime)Model.EndDate).ToString("MM/dd/yyyy") })
                @Html.ValidationMessageFor(m => m.EndDate)

            </div>
            <div class="span10">
                @Html.LabelFor(m => m.Priority, new { @class = "span2" })
                @Html.TextBoxFor(m => m.Priority, new { @class = "x-large " })
                @Html.ValidationMessageFor(m => m.Priority)
            </div>
            <div class="span10">
                @Html.LabelFor(m => m.Comments, new { @class = "span2" })
                @Html.TextAreaFor(m => m.Comments, new { @class = "x-large " })
                @Html.ValidationMessageFor(m => m.Comments)
            </div>
        </fieldset>
    }

</div>
@section FormFooter
{
    <a href="javascript:window.close()">
        <img alt="Close" src="/Content/Images/FoxClose.gif" />
        Close</a>
    <a href="#" id="FormSubmit">Save</a>
    <div id="progressSpan" class="Progress" data-success="@Url.Content("~/Content/Succeeded.gif")" style="display: none;">
        <span id="progressText"></span>
        <img id="progressImg" alt="" src="@Url.Content("~/Content/InProcess.gif")">
    </div>
    @*<a href="#"  onclick="document.forms[0].submit()">Save</a>*@


}

<script type="text/javascript">
    $(function () {
        $('.datepicker').datepicker({
            format: "dd/mm/yyyy",
            todayBtn: true,
            clearBtn: true
        });
    });
</script>
