﻿@model FoxConcept.Models.ViewModels.BiddingRequests.BiddingManagementViewModel
@{
    ViewBag.Title = "Bidding Requests Management";
    Layout = "~/Views/Shared/_FoxPageLayout.cshtml";

    var requests = Model.BiddingRequests.GroupBy(b => b.BiddingPeriodID, b => b, (key, g) => new
    {
        RuleID = key,
        BiddingRuleName = g.FirstOrDefault().BiddingPeriod.BiddingPeriodString,
        BiddingRequests = g.ToList()
    });
}
@section Header
{
    <link href="/Content/dropit.css" rel="stylesheet" type="text/css" />
}
<div class="container scrollable">
    @using (Html.BeginForm("GetBiddingManagement", "BiddingRequests", FormMethod.Post, null))
    {
        <fieldset>
            <legend>Filter Bidding Requests</legend>
            <div class="span10">
                @Html.LabelFor(m => m.InstructorID, new { @class = "span1" })
                @Html.DropDownListFor(m => m.InstructorID, new SelectList(Model.Instructors, "ID", "Name", "Select a Value"), new { @class = "x-large" })
            </div>

            <div class="span10">
                @Html.LabelFor(m => m.BiddingPeriodID, new { @class = "span1" })
                @Html.DropDownListFor(m => m.BiddingPeriodID, new SelectList(Model.BiddingPeriods, "ID", "Name", "Select a Value"), new { @class = "x-large" })
                <input type="submit" value="Search" class="button width-70"/>
            </div>
        </fieldset>
    }
</div>
<div class="container scrollable height90">


    <table>
        <thead>
            <tr>
                <th width="2%">&nbsp;</th>
                <th width="13%">Bidder</th>
                <th width="15%">Bidding Type</th>
                @*<th width="20%">Bidding Rule</th>*@
                <th width="10%">Start Date</th>
                <th width="10%">End Date</th>
                <th width="10%">Priority</th>
                <th width="30%">Comments</th>
                <th width="10%">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var header in requests)
            {
                <tr class="header" data-state="open">
                    <td>
                        <img src="@Url.Content("~/Content/Images/bullet_toggle_minus.png")" class="pointer" alt="collapse"/></td>
                    <td colspan="7">@header.BiddingRuleName</td>
                </tr>
                if (header.BiddingRequests.Count() > 0)
                {
                    foreach (var row in header.BiddingRequests)
                    {
                <tr>
                    <td>
                        <ul class="menu dropit">
                            <li>
                                <a href="#">
                                    <img src='/Content/Images/edit.gif' alt='Edit' /></a>
                                <ul class="dropit-submenu-left">
                                    <li>@Html.NewWindowActionLink(String.Format("ApproveBiddingRequest/{0}", row.ID.ToString()), "BiddingRequests", "Review Request", null, false)</li>
                                    <li>@Html.ActionLink("Delete", "DeleteBiddingRequest", new { @ID = row.ID })</li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                    <td>@row.InstructorName</td>
                    <td>@row.BiddingRule.Name</td>
                    <td>@row.StartDate.ToString("dd/MM/yyyy")</td>
                    <td>@{
                        var enddate = row.EndDate != null ? ((DateTime)row.EndDate).ToString("dd/MM/yyyy") : String.Empty;
                    }@enddate</td>
                    <td>@row.Priority</td>
                    <td>@row.Comments</td>
                    <td>@row.Status</td>
                </tr>
                    }
                }

            }
        </tbody>

    </table>
</div>
@section Footer
{
    <script src="/Scripts/Dropit/dropit.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.menu').dropit();

        $('.header').click(function () {

            var elementState = $(this).attr("data-state");
            if (elementState == "open") {
                $(this).find('.pointer').attr('src', '@Url.Content("~/Content/Images/bullet_toggle_plus.png")');
                $(this).attr("data-state", "close");
            } else {
                $(this).find('.pointer').attr('src', '@Url.Content("~/Content/Images/bullet_toggle_minus.png")');
                $(this).attr("data-state", "open");
            }


            $(this).nextUntil('tr.header').slideToggle(150, function () {
            });
        });

    });
</script>