﻿@model FoxConcept.Models.ViewModels.BiddingRequests.BiddingRequestsViewMode
@{
    ViewBag.Title = "Bidding Requests";
    Layout = "~/Views/Shared/_FoxPageLayout.cshtml";

    var requests = Model.BiddingRequests.GroupBy(b => b.BiddingRuleID, b => b, (key, g) => new
    {
        RuleID = key,
        BiddingRuleName = g.FirstOrDefault().BiddingRule.Name,
        BiddingRequests = g.ToList()
    });
}
@section Header
{
    <link href="/Content/dropit.css" rel="stylesheet" type="text/css" />
}
<div id="BiddingRrequestTable" class="container ">
    <div class="TableHeader">
        <span>Bidding Requests</span>
        <ul class="menu dropit pull-right">
            <li>
                <a href="#">
                    <button class="button">Add</button>
                </a>
                <ul class="dropit-submenu-right">
                    @foreach (var item in Model.BiddingRules)
                    {
                        <li>@Html.NewWindowActionLink("AddBiddingRequest", "BiddingRequests", item.Name, String.Format("InstructorID={0}&biddingRule={1}", Model.InstractorID, item.ID), false)</li> 
                    }
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="container scrollable height90">


    <table>
        <thead>
            <tr>
                <th width="2%">&nbsp;</th>
                <th width="20%">Bidding Period</th>
                <th width="15%">Start Date</th>
                <th width="15%">End Date</th>
                <th width="10%">Priority</th>
                <th width="30%">Comments</th>
                <th width="10%">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var header in requests)
            {
                <tr class="header" data-state="open">
                    <td>
                        <img src="@Url.Content("~/Content/Images/bullet_toggle_minus.png")" class="pointer" alt="collapse"/></td>
                    <td colspan="7">@header.BiddingRuleName</td>
                </tr>
                if (header.BiddingRequests.Count() > 0)
                {
                    foreach (var row in header.BiddingRequests)
                    {
                <tr>
                    <td>
                        <ul class="menu dropit">
                            <li>
                                <a href="#">
                                    <img src='/Content/Images/edit.gif' alt='Edit' /></a>
                                <ul class="dropit-submenu-left">
                                    <li>@Html.NewWindowActionLink(String.Format("EditBiddingRequest/{0}", row.ID.ToString()), "BiddingRequests", "Edit", null, false)</li>
                                    <li>@Html.ActionLink("Delete", "DeleteBiddingRequest", new { @ID = row.ID })</li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                    <td>@row.BiddingPeriod.BiddingPeriodString</td>
                    <td>@row.StartDate.ToString("dd/MM/yyyy")</td>
                    <td>@{
                        var enddate = row.EndDate != null ? ((DateTime)row.EndDate).ToString("dd/MM/yyyy") : String.Empty;
                    }@enddate</td>
                    <td>@row.Priority</td>
                    <td>@row.Comments</td>
                    <td>@row.Status</td>
                </tr>
                    }
                }

            }
        </tbody>

    </table>
</div>
@section Footer
{
    <script src="/Scripts/Dropit/dropit.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.menu').dropit();

        $('.header').click(function () {

            var elementState = $(this).attr("data-state");
            if (elementState == "open") {
                $(this).find('.pointer').attr('src', '@Url.Content("~/Content/Images/bullet_toggle_plus.png")');
                $(this).attr("data-state", "close");
            } else {
                $(this).find('.pointer').attr('src', '@Url.Content("~/Content/Images/bullet_toggle_minus.png")');
                $(this).attr("data-state", "open");
            }


            $(this).nextUntil('tr.header').slideToggle(150, function () {
            });
        });

    });
</script>